@model SG_SST.EntidadesDominio.Participacion.EDReporte
<!DOCTYPE html>
<style>
    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: black;
        padding: 0px !important;
    }

    .page-header {
        display: inline-block;
        text-align: center;
        background-color: #e3e3e3;
        color: black;
        width: 100%;
    }

        .page-header .divtexto {
            float: left;
            text-align: left;
            width: 50%;
        }

        .page-header .divimagen {
            float: right;
            text-align: right;
            max-height: 100px;
            overflow: hidden;
            width: 49%;
        }

    .Unalinea {
        display: inline-block;
        width: 100%;
        font-size: 11px;
    }

    .TipoCss {
        font-size: 20px;
        float: left;
        width: 60%;
    }

        .TipoCss > input {
            font-size: 20px;
        }

    .IDCss {
        font-size: 20px;
        float: right;
        background-color: none;
        width: 40%;
    }

        .IDCss label {
            font-size: 20px;
            width: 120px;
        }

        .IDCss input {
            font-size: 20px;
            color: black;
            width: 120px;
            text-align: right;
        }



        .IDCss div {
            float: right;
            margin-right: 30px;
        }

    .Doslinea {
        width: 100%;
        background-color: none;
        border: solid #bfbbce 1px;
        padding: 0px;
        font-size: 17px;
        page-break-inside: avoid !important;
    }

        .Doslinea .SubTitulo {
            background-color: #8a8a8a;
            margin: 0px;
            padding-left: 5px;
            margin: 0px 0px 2px 0px;
        }

    .AccionInline {
        display: inline-block;
        width: 100%;
        margin: 0px;
        padding-left: 5px;
    }

        .AccionLeft20 {
        float: left;
        width: 20%;
    }
    .AccionLeft30 {
        float: left;
        width: 30%;
    }

    .AccionLeft40 {
        float: left;
        width: 40%;
    }

    .AccionLeft50 {
        float: left;
        width: 50%;
    }

     .AccionLeft60 {
        float: left;
        width: 60%;
    }
      .AccionLeft70 {
        float: left;
        width: 70%;
    }

   .AccionLeft90 {
        float: left;
        width: 90%;
    }


    .my-style {
        outline: none;
        border: none;
        font-size: 15px;
    }

    .my-style1 {
        outline: none;
        border: none;
        font-size: 15px;
        text-align: center;
        outline: none !important;
        border: none !important;
    }

    .setenta {
        width: 70%;
    }

   
    .cincuenta{
       width: 50%;
    }

     .cuarenta{
       width: 40%;
    }

       .sesenta{
       width: 60%;
    }

          .noventa{
       width: 90%;
    }

    .table-responsive {
    }

        .table-responsive table {
            width: 100%;
        }

        .table-responsive .TableTitle {
            background-color: none;
        }

        .table-responsive .InfoTable {
            background-color: #e3e3e3;
        }


    textarea {
        width: 98%;
        outline: none;
        border: solid 1px gray;
        text-align: justify;
    }

    .add-padding {
        margin-left: 5px;
    }



    .breakhere {
        page-break-after: always;
    }



    .datagrid table {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid #ddd;
        text-align: left;
    }

        .datagrid table td {
            border: 1px solid #ddd;
            text-align: left;
        }

        .datagrid table th {
            border: 1px solid #ddd;
            text-align: left;
        }

        .datagrid table tbody tr td {
            padding: 5px;
        }

        .datagrid table thead tr th {
            text-align: center;
        }

        .datagrid table thead tr th {
            text-align: center;
            padding-left: 3px;
            padding-right: 3px;
        }

        .datagrid table thead {
            background-color: #a3a3a3;
            color: black;
        }

        .datagrid table tbody tr .TdJustificar {
            text-align: justify !important;
            max-width: 500px;
        }

        .datagrid table tbody tr .TdCentrar {
            text-align: center !important;
        }

    input[type=text] {
        outline: none;
        border: solid 1px gray;
    }

    tr, td {
        page-break-inside: avoid !important;
    }
</style>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reporte de condiciones inseguras</title>
</head>
<body>


    <div class="Unalinea">
        <div class="IDCss">
            <div>

                
                <b>ID</b>
                @Html.TextBoxFor(m => m.ConsecutivoReporte, null, new { @class = "form-control form-width-100" })
            </div>
            <div>
                <b>Origen del reporte:</b>
                <input type="text" id="nombre" name="nombre" value="@(ViewBag.Origen)" class="cincuenta" readonly />
            </div>

        </div>
    </div>
        <div class="Doslinea">
            <div class="SubTitulo">
                <b>1. Información del reporte</b>
            </div>

            <br />

         

            <div class="AccionInline">

                <div class="AccionLeft70">
                    <b>Nombre Empresa:</b>
                    <div>
                        @Html.TextBoxFor(modelItem => modelItem.RazonSocialEmpresa, null, new { @class = "setenta" })


                    </div>
                </div>
                <div class="AccionLeft30">
                    <b>NIT:</b>
                    <div>
                        @Html.TextBoxFor(modelItem => modelItem.nitEmpresa, null, new { @class = "form-control form-width-100" })


                    </div>

                </div>
             
            </div>



            <div class="AccionInline">

                <div class="AccionLeft20">
                    <b>Fecha del reporte:</b>
                    <div>
                        @Html.TextBoxFor(m => m.fechaSistena, "{0:dd/MM/yyyy}", new { @class = "my-style,form-control", @readonly = true })
                    </div>
                </div>
                <div class="AccionLeft50">
                    <b>Sede:</b>
                    <div>
                      
                        @Html.TextBoxFor(modelItem => modelItem.sede, null, new { @class = "cincuenta" })
                    </div>

                </div>
                <div class="AccionLeft30">
                    <b>Tipo:</b>
                    <div>
                       
                        @Html.TextBoxFor(m => m.tipo, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
            </div>


            <div class="AccionInline">

                <div class="AccionLeft70">
                    <b>Proceso:</b>
                    <div>
                     
                        @*@Html.TextBoxFor(m => m.nombreProceso, null, new { @class = "cincuenta,form-control" })*@

                        <input type="text" id="nombre" name="nombre" value="@(ViewBag.FK_Proceso)" class="setenta" readonly />
                    </div>
                </div>
    
                <div class="AccionLeft30">
                    <b>Fecha ocurrencia del evento:</b>
                    <div>
                        @Html.TextBoxFor(m => m.FechaOcurrencia, "{0:dd/MM/yyyy}")
                        
                    </div>
                </div>
            </div>

    

            <div class="add-padding">
                <div class="col-sm-12">
                    <b>Área / Lugar:</b>
                    <div>
                        @Html.TextAreaFor(s => s.AreaLugar, new { @class = "form-control form-width-100", rows = "2" })
                    </div>

                </div>
            </div>

            </div>

             

    <div class="Doslinea">

        <div class="SubTitulo">
            <b>2. Datos de quién reporta:</b>
        </div>
        <div class="AccionInline">
            <div class="AccionLeft30">
                <b>Cédula:</b>
                <div>
                    @Html.TextBoxFor(m => m.CedulaQuienReporta, htmlAttributes: new { @class = "form-control form-width-100" })
                </div>

            </div>

            <div class="AccionLeft70">
                <b>Nombre:</b>
                <div>
                    <input type="text" id="nombre" name="nombre" value="@(ViewBag.nombre)" class="setenta" readonly />
                </div>

            </div>
        </div>




        <div class="AccionInline">
         

            <div class="AccionLeft90">
                <b>Cargo:</b>
                <div>
                    <input type="text" id="nombre" name="nombre" value="@(ViewBag.Cargo)" class="noventa" >
                </div>

            </div>




        </div>
    </div>
    <div class="Doslinea">

        <div class="SubTitulo">
            <b>3. Descripción de Condición o Acto Inseguro</b>
        </div>

        <div class="add-padding">
            <div class="col-sm-12">
                <b>Descripción:</b>
                <div>
                    @Html.TextAreaFor(s => s.DescripcionReporte, new { @class = "form-control form-width-100", rows = "8" })
                </div>

            </div>

            <div class="col-sm-12">
                <b>Causa:</b>
                <div>
                    @Html.TextAreaFor(s => s.CausaReporte, new { @class = "form-control form-width-100", rows = "8" })
                </div>

            </div>

            <div class="col-sm-12">
                <b>Sugerencia:</b>
                <div>
                    @Html.TextAreaFor(s => s.SugerenciasReporte, new { @class = "form-control form-width-100", rows = "8" })
                </div>

            </div>
          
        </div>

</div>
        <br />
<br />

    <div class="Doslinea">

        <div class="SubTitulo">
            <b>4. Plan de acción</b>
        </div>
        <br />
        <br />
        <div class="datagrid">
            <table class="table table-bordered" style="border: 2px solid lightslategray" id="TablaActividades">

                <thead>

                    <tr class="titulos_tabla">

                        <th style="border-right: 2px solid lightslategray; border-bottom: 2px solid lightslategray; text-align:center">Actividad</th>
                        <th style="border-right: 2px solid lightslategray; border-bottom: 2px solid lightslategray; text-align:center">Responsable</th>
                        <th style="border-right: 2px solid lightslategray; border-bottom: 2px solid lightslategray; text-align:center">Fecha de ejecución</th>

                    </tr>

                </thead>

                <tbody id="actividades">
                    @foreach (var item in Model.actividades)
                    {
                        if (item.nombreActividad != null)
                        {
                            string FecEjecucion = item.FecEjecucion.ToString("dd/MM/yyyy");

                            <tr name="temPer">



                                <td style="border-right: 2px solid lightslategray; vertical-align:middle">
                                    @Html.DisplayFor(modelItem => item.nombreActividad)
                                </td>

                                <td style="border-right: 2px solid lightslategray; vertical-align:middle">
                                    @Html.DisplayFor(modelItem => item.RespActividad)
                                </td>

                                <td style="border-right: 2px solid lightslategray; vertical-align:middle">
                                    @FecEjecucion
                                </td>

                            </tr>

                        }
                    }


                </tbody>
            </table>
        </div>
      </div>

    <br />

    <div class="Doslinea">

        <div class="SubTitulo">
            <b>5. Imagenes del reporte</b>
        </div>
        <br />
        <div class="datagrid">
        
                
                    @foreach (var item in Model.imagenesReporte)
                    {
                        string ruta = @ViewBag.rutaAbsoluta + item.rutaArchivo;



                        //@*<img src="@Url.Action("MostrarImagen", new { nombre = item.rutaArchivo })" type="image" />*@

                        <img src="@ruta" alt="" style="cursor:pointer;border:0.5px solid black;max-height:300px;" />


                    }
            
         
            <br />
        </div>
        </div>
  







</body>