@model IEnumerable<SG_SST.Models.Empresas.CentroTrabajo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Sede.Nombre_Sede)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion_Actividad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Codigo_Actividad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Numero_Trabajadores)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Sede.Nombre_Sede)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion_Actividad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Codigo_Actividad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Numero_Trabajadores)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Pk_Id_Centro_de_Trabajo }) |
            @Html.ActionLink("Details", "Details", new { id=item.Pk_Id_Centro_de_Trabajo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Pk_Id_Centro_de_Trabajo })
        </td>
    </tr>
}

</table>
