@model IEnumerable<SG_SST.Models.Planificacion.RequisitosLegalesPosipedia>

@{
    ViewBag.Title = "Crear Matriz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Site.css" rel="stylesheet" />
<!-- Bootstrap core CSS -->
<link href="~/Content/miga-de-pan.css" rel="stylesheet">
<!-- Referencia a botones -->
<link rel="stylesheet" href="~/Content/css/specialbuttons.css">

<ol class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home")">Planificación</a></li>
    <li><a href="javascript:void(0)">Requisitos Legales y Otros</a></li>
    <li class="active">Crear Matriz</li>
</ol>

@if (ViewBag.Messages != null && ViewBag.Messages != "")
{
    <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Estimado Usuario</strong> @ViewBag.Messages
    </div>
}

@if (ViewBag.Messages2 != null && ViewBag.Messages2 != "")
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        @ViewBag.Messages2
    </div>
}


@using (Html.BeginForm("", "", FormMethod.Post, new { @id = "idCrearMatriz" }))
{
    <body>

        <div class="panel panel-default" style="background-color: rgba(196, 202,196, 0.1)">
            <div class="panel-heading" style="color:white">
                Crear Matriz Legal
            </div>

            @*Boton ayuda*@
            <div align="right">
                <div id="ayuda" style="text-align:right">
                    <a href="" data-toggle="modal" data-target="#@string.Format("modalAyuda")"
                        title="Ayuda" class="btn btn-ayuda btn-md">
                        <i class="glyphicon glyphicon-question-sign"></i>
                    </a>
                    <div id="@string.Format("modalAyuda")" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header encabezado" style="background-color:transparent; border-bottom:none">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                                    <h4 class="modal-title title">Ayuda / Crear Matriz Legal</h4>
                                </div>
                                <div class="modal-body" style="color:black">

                                    <div class="row" style="text-align:justify">
                                        Recuerde que el parágrafo del artículo 2.2.4.6.8. Obligaciones de los empleadores del Decreto 1072/2015 define que: <i>Por su importancia, el empleador debe identificar la normatividad nacional aplicable del Sistema General de Riesgos Laborales, la cual debe quedar plasmada en una matriz legal que debe actualizarse en la medida que sean emitidas nuevas disposiciones aplicables a la empresa.</i>
                                    </div>
                                    <br />
                                    <div class="row" style="text-align:justify">
                                        Esta funcionalidad le  permite seleccionar una recopilación de requisitos legales aplicable basado en la orientación técnica existente en el centro virtual de seguridad y salud en el trabajo: POSIPEDIA, identificada por sector económico (CIIU Rev. 4 A.C.) como punto de partida para la construcción de la matriz legales de su empresa dentro del SGSST.
                                    </div>
                                    <br />
                                    <div class="row" style="text-align:justify">
                                        Al consultar la matriz del sector económico el sistema le traerá diferentes requisitos legales para que usted los valide y escoja uno a uno los que considere que le apliquen acorde con las actividades propias e inherentes de su actividad productiva de su empresa. Cuando tenga los requisitos seleccionados de click en <button class="boton botonactive" disabled>Generar Matriz</button> y el sistema le genera su matriz legal inicial.
                                    </div>
                                    <br />
                                    <div class="row" style="text-align:justify">
                                        Una vez generada la matriz diríjase al menú principal siguiendo la ruta (PLANIFICACIÓN- REQUISITOS LEGALES Y OTROS-Consultar Matrices.
                                    </div>

                                    @*<div class="form-group">
                                        <div class="row">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <p align="justify">LA OPCIÓN DE CREAR MATRIZ LE PERMITE SELECCIONAR UNA MATRIZ DE                         REQUISITOS LEGALES EN SEGURIDAD Y SALUD LABORAL ESTANDAR POR SECTOR ECONOMICO COMO                         PUNTO DE PARTIDA PARA LA CONSTRUCCIÓN DE LA MATRIZ DE REQUISITOS LEGALES DE SU                             EMPRESA.</p>

                                                    <p align="justify">
                                                    ESTAS MATRICES ESTANDAR SON CREADAS Y ACTUALIZADAS PERIODICAMENTE POR POSITIVA ARL Y                      PUESTAS PARA SU CONSULTA EN ALISSTA.
                                                    </p>

                                                    <p align="justify">
                                                    AL CONSULTAR LA MATRIZ DE SU SECTOR EL SISTEMA LE TRAERA DIFERENTES REQUISITOS LEGALES                    PARA QUE USTED LOS REVISE Y ESCOJA UNO A UNO LOS QUE CONSIDERE QUE LE APLIQUEN                             ESPECIFICAMENTE A SU COMPAÑIA, TAMBIEN ESTA LA OPCIÓN DE SELECCIONAR TODOS. HAGA CLICK                     EN GENERAR MATRIZ Y EL SISTEMA LE GENERARA SU MATRIZ INICIAL.
                                                    </p>

                                                    <p align="justify">UNA VEZ GENERADA LA MATRIZ DIRIJASE AL MENU PRINCIPAL SIGUIENDO LA                     RUTA (PLANIFICACIÓN- REQUISITOS LEGALES Y OTROS-CONSULTAR MATRICES), E INGRESE A LA                        OPCIÓN CONSULTAR MATRICES.</p>

                                                </div>

                                            </div>
                                    
                                        </div>
                                        <br />
                       

                                    </div>*@

                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="boton botoncancel" data-dismiss="modal">Salir</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*/////////////*@

            <div class="panel-body form-horizontal">

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4 col-md-offset-2">
                            @Html.DropDownList("FK_Actividad_Economica", null, htmlAttributes: new { @class = "dropdown1 form-control", @onchange = "" }, optionLabel: "-- Seleccione el sector económico a consultar --")
                        </div>
                        <div class="col-md-3">
                            <button type="button" onclick="BusquedaPorActividadEconomica()" class="boton botoninfo">Consultar</button>
                            @*<a type="button" href="@Url.Action("Busqueda_PorActividadEconomica", "RequisitosLegalesOtros", new { Actividad_Economica = 1 }) " class="boton botoninfo">Consultar</a>*@
                        </div>
                    </div>
                </div>

                <hr />

                <div class="table-responsive" id="IDscBusqueda">
                    <table class="table table-bordered" id="idtblOtrasInteracciones" style="border: 2px solid lightslategray">
                        <tr class="titulos_tabla">

                            <td style="border-right: 2px solid lightslategray; border-bottom: 2px solid lightslategray;text-align:center; vertical-align:middle">
                                <p><b>SELECCIONAR</b></p> <p><b>TODO</b></p><input type="checkbox" class="checkAll" id="checkAll" name="checkAll" onclick="Seleccionarcheckbox()" />
                            </td>
                            <th style="border-right: 2px solid lightslategray; border-bottom: 2px solid lightslategray; text-align:center; vertical-align:middle; text-transform:uppercase">N° Norma</th>
                            <th style="border-right: 2px solid lightslategray; border-bottom: 2px solid lightslategray; text-align:center; vertical-align:middle; text-transform:uppercase">Fecha Publicación</th>
                            <th style="border-right: 2px solid lightslategray; border-bottom: 2px solid lightslategray; text-align:center; vertical-align:middle; text-transform:uppercase">Ente</th>
                            <th style="border-right: 2px solid lightslategray; border-bottom: 2px solid lightslategray; text-align:center; vertical-align:middle; text-transform:uppercase">Artículos</th>
                            <th style="border-right: 2px solid lightslategray; border-bottom: 2px solid lightslategray; text-align:center; vertical-align:middle; text-transform:uppercase">Descripción</th>
                            <th style="border-right: 2px solid lightslategray; border-bottom: 2px solid lightslategray; text-align:center; vertical-align:middle; text-transform:uppercase">Sugenrencias</th>
                            <th style="border-right: 2px solid lightslategray; border-bottom: 2px solid lightslategray; text-align:center; vertical-align:middle; text-transform:uppercase">Clase de Peligro</th>
                            <th style="border-right: 2px solid lightslategray; border-bottom: 2px solid lightslategray; text-align:center; vertical-align:middle; text-transform:uppercase">Peligro</th>
                            <th style="border-right: 2px solid lightslategray; border-bottom: 2px solid lightslategray; text-align:center; vertical-align:middle; text-transform:uppercase">Aspectos</th>
                            <th style="border-right: 2px solid lightslategray; border-bottom: 2px solid lightslategray; text-align:center; vertical-align:middle; text-transform:uppercase">Impactos</th>

                        </tr>
                    </table>

                </div>

                <div class="row" align="left">
                    <div>
                        <div class="col-sm-12">                  

                            <button class="boton botonactive" data-toggle="modal" data-target="#@string.Format("myModal1","")" style="margin-right:35px">Generar Matriz</button>                      

                            @*<button type="button" class="boton botonactive" onclick="Agregar_ReventanaMatriz()">Generar Matrizxxxx</button>*@
                        </div>
                    </div>
                </div>

            </div>

            <div id="@string.Format("myModal1","")" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header encabezado" style="background-color:transparent; border-bottom:none">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>

                            <h4 class="modal-title title">Requisitos Legales y Otros</h4>
                        </div>
                        <div class="modal-body " style="color:black">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <p style="vertical-align:middle">Ingrese el nombre de la matriz:</p>
                                    </div>
                                    <div class="col-xs-6">
                                        <input type="text" class="form-control" id="idNombreMatriz" name="idNombreMatriz" required />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    @*<div class="col-xs-12">
                                        <p class="error">* El nombre de la matriz debe contener máximo 50 caracteres</p>
                                    </div>*@
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="boton botonactive" data-dismiss="modal" onclick="validarNombreMatriz(idactividadeconomica = FK_Actividad_Economica)">Generar Matriz</button>                    
                            <button type="button" class="boton botoncancel" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>   
}
    
@*<script>
    $(document).ready(function () {
        paginador("idRequisitosLegales", "tr[name = pcs]", "#paginador");
    });
</script>*@

@section Scripts {
    @Scripts.Render("~/bundles/planificacion") 
    @Scripts.Render("~/bundles/simplePagination")
}
