@model IEnumerable<SG_SST.Models.Planificacion.MatrizRequisitosLegales>

@{
    ViewBag.Title = "Consultar Matrices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.Messages1 != null && ViewBag.Messages1 != "")
{
    <script type="text/javascript">
        //SCRIPT DE EJEMPLO
        swal(
        'Estimado Usuario',
        ' @ViewBag.Messages1',
        'warning'
        )
    </script>
}

@if (ViewBag.Messages2 != null && ViewBag.Messages2 != "")
{
    <script type="text/javascript">
        //SCRIPT DE EJEMPLO
        swal(
        'Estimado Usuario',
        ' @ViewBag.Messages2',
        'success'
        )
    </script>
}

<link href="~/Content/Site.css" rel="stylesheet" />
<!-- Bootstrap core CSS -->
<link href="~/Content/miga-de-pan.css" rel="stylesheet">
<!-- Referencia a botones -->
<link rel="stylesheet" href="~/Content/css/specialbuttons.css">

<style>
    .pdf-modales {
        position: relative;
        padding-bottom: 56.25%;
        overflow: hidden;
    }

    .pdf-modales iframe {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
</style>

<ol class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home")">Planificación</a></li>
    <li><a href="javascript:void(0)">Requisitos Legales y Otros</a></li>
    <li class="active">Consultar Matrices</li>
</ol>

<script src="~/Scripts/jquery.alerts-1.1/jquery.alerts.js"></script>
<script src="~/Scripts/jquery-1.11.1.min.js"></script>
<link href="~/Scripts/jquery.alerts-1.1/jquery.alerts.css" rel="stylesheet" />

@using (Html.BeginForm("ExportarExcelRequisitosLegales", "RequisitosLegalesOtros", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="panel panel-default" style="background-color: rgba(196, 202,196, 0.1)">
        <div class="panel-heading" style="color:white">
            Listado de Matrices Legales
        </div>

        @*Boton Ayuda*@
        <div align="right">
            <div id="ayuda" style="text-align:right">
                <a href="" data-toggle="modal" data-target="#@string.Format("modalAyuda")"
                   title="Ayuda" @*class="btn btn-link-1-google-plus btn-circle btn-md"*@
                   class="btn btn-ayuda btn-md"
                   @*style="border: 1px solid lightslategray; border-radius:0px"*@>
                    <i class="glyphicon glyphicon-question-sign" @*style="color:black"*@></i>
                </a>
                <div id="@string.Format("modalAyuda")" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header encabezado" style="background-color:transparent; border-bottom:none">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    @*<span aria-hidden="true">&times;</span>*@
                                </button>
                                <h4 class="modal-title title">Ayuda / Listado Matrices Legales</h4>
                            </div>
                            <div class="modal-body " style="color:black">

                                <div class="row" style="text-align:justify">
                                    En esta pantalla se presenta la relación de las diferentes matrices que ha creado y donde puede acceder directamente a editarla,  descargarla en formato de hoja de cálculo o eliminarlas haciendo clik en las respectivas opciones <i class="glyphicon glyphicon-pencil" style="color: #FF7500; border: 1px solid #ff7500; padding: 8px 8px; width: auto"></i> <img src="~/Images/iconExcelp.png" /> <button class="boton botoncancel" disabled>Eliminar</button>
                                </div>

                                @*<div class="row">
                                    <div class="col-xs-12">
                                        <p align="justify">EN ESTA PANTALLA SE PRESENTA LA RELACIÓN DE LAS DIFERENTES MATRICES QUE       HA CREADO Y DONDE PODRA ACCEDER DIRECTAMENTE A EDITARLA Y DESCARGARLA EN EXCEL HACIENDO CLIK EN        LOS RESPECTIVOS ICONOS. TAMBIEN PODRA ELIMINARLAS UNA A UNA O SELECCIONANDO TODAS.</p>
                                        </div>                             
                                </div>*@                           
                                </div>                           
                            <div class="modal-footer">
                                <button type="button" class="boton botoncancel" data-dismiss="modal">Salir</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-body form-horizontal">

            <div id="divMensaje">   </div>
            <div class="table-responsive" id="IDscBusqueda">
                <table class="table table-bordered" id="idtblOtrasInteracciones" style="border: 2px solid lightslategray">
                    <tr class="titulos_tabla">

                       <td style="border-right: 2px solid lightslategray; border-bottom: 2px solid lightslategray;text-align:center; vertical-align:middle">
                           <p><b>SELECCIONAR</b></p> <p><b>TODO</b></p><input type="checkbox" class="checkAll" id="checkAll" name="checkAll" onclick="Seleccionarcheckbox()" />
                        </td>
                        <th style="border-right: 2px solid lightslategray; border-bottom: 2px solid lightslategray; text-align:center; vertical-align:middle; text-transform:uppercase">Nombre de La Matriz</th>
                        <th style="border-right: 2px solid lightslategray; border-bottom: 2px solid lightslategray; text-align:center; vertical-align:middle; text-transform:uppercase">Editar</th>
                        <th style="border-right: 2px solid lightslategray; border-bottom: 2px solid lightslategray; text-align:center; vertical-align:middle; text-transform:uppercase">Descargar</th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr name="pcs" class="pcs1">
                            <td style="border-right: 2px solid lightslategray; vertical-align:middle; text-align:center">
                                <input type="checkbox" class="checkBox" id="checklista" value="@item.PK_MatrizRequisitosLegales" />
                            </td>
                            <td style="border-right: 2px solid lightslategray; vertical-align:middle">
                                @Html.DisplayFor(modelItem => item.NombreMatriz)
                            </td>
                            <td style="border-right: 2px solid lightslategray; vertical-align:middle; text-align:center">
                                <a href="@Url.Action("EditarMatriz", new { FK_MatrizRequisitosLegales = item.PK_MatrizRequisitosLegales})" class="btn btn-md btn-search" title="Editar Matriz">
                                    <span class="glyphicon glyphicon-pencil" name="iconoRend"></span>
                                </a>
                            </td>
                            <td style="border-right: 2px solid lightslategray; vertical-align:middle; text-align:center">
                                <a href="@Url.Action("ExportarExcelRequisitosLegales", "RequisitosLegalesOtros", new { FK_MatrizRequisitosLegales = item.PK_MatrizRequisitosLegales })" title="Descargar">
                                    <img src="~/Images/iconExcelp.png" />
                                </a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
            <div class="row" style="margin-left:2px">            
                <div class="col-sm-4">
                    @*<td style="border-right: 2px solid lightslategray; vertical-align:middle; text-align:center">*@           
                        <a data-toggle="modal" data-target="#@string.Format("modalEliminar")" class="boton botoncancel">
                            Eliminar
                        </a>
                        <div id="@string.Format("modalEliminar")" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header encabezado" style="background-color:transparent; border-bottom:none">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                                        <h4 class="modal-title title">Eliminar Matriz</h4>
                                    </div>
                                    <div class="modal-body" style="text-align:center; color: black">
                                        <p>¿Esta que seguro desea eliminar la matriz seleccionada?</p>
                                    </div>
                                    <div class="modal-footer">                 
                                        <button type="button" class="boton botonactive" data-dismiss="modal" onclick="EliminarMatrices()">Eliminar</button>
                                        <button type="button" class="boton botoncancel" data-dismiss="modal">Cancelar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    @*</td>*@
                </div>               
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>
}

<div class="pagination-page paginador1" id="paginador1" style="margin-left:45%"></div>

<script src="~/Scripts/flaviusmatis-simplePagination.js-e32c66e/jquery.simplePagination.js"></script>
<script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
<script defer src="https://code.getmdl.io/1.1.1/material.min.js"></script>
<script>
    //$("document").ready(function () {
    //    paginador1("#idRequisitosLegales", "tr[name = pcs]", "#paginador1");
    //});
    //Paginador
    jQuery(function ($) {
        var items = $(".pcs1");
        var numItems = items.length;
        var perPage = 10;
        items.slice(perPage).hide();
        $(".paginador1").pagination({
            items: numItems,
            itemsOnPage: perPage,
            cssStyle: "compact-theme",
            invertPageOrder: false,
            currentPage: 1,
            nextText: '<i class="fa fa-chevron-right"><i class="fa fa-chevron-right">',
            prevText: '<i class="fa fa-chevron-left"><i class="fa fa-chevron-left">',
            onPageClick: function (pageNumber) {
                var showFrom = perPage * (pageNumber - 1);
                var showTo = showFrom + perPage;
                items.hide()
                     .slice(showFrom, showTo).show();
            }
        });
        function checkFragment() {
            var hash = window.location.hash || "#page1-1";
            hash = hash.match(/^#page1-(\d+)$/);
            if (hash) {
                $(".pagination-page").pagination("selectPage", parseInt(hash[1]));
            }
        };
        $(window).bind("popstate", checkFragment);
        checkFragment();
    });
</script>

@section Scripts{
    @Scripts.Render("~/bundles/planificacion")
    @Scripts.Render("~/bundles/simplePagination")
}
