@model SG_SST.Models.Planificacion.RequisitosLegalesOtros

@{
    ViewBag.Title = "Editar Requisitos Legales y Otros";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Site.css" rel="stylesheet" />
<!-- Bootstrap core CSS -->
<link href="~/Content/miga-de-pan.css" rel="stylesheet">
<!-- Referencia a botones -->
<link rel="stylesheet" href="~/Content/css/specialbuttons.css">

<ol class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home")">Planificación</a></li>
    <li><a href="javascript:void(0)">Requisitos Legales y Otros</a></li>
    <li class="active">Editar Requisitos Legales y Otros</li>
</ol>

@using (Html.BeginForm("GrabarRequisitosLegalesOtros", "RequisitosLegalesOtros", FormMethod.Post, new { @id = "idModificarRequisitoMatriz" }))
{  
    @Html.AntiForgeryToken()
    <div class="panel panel-default" style="background-color: rgba(196, 202,196, 0.1)">
        <div class="panel-heading" style="color:white">
            Editar Requisitos Legales y Otros
        </div>

        @*Boton Ayuda*@
        <div align="right">
            <div id="ayuda" style="text-align:right">
                <a href="" data-toggle="modal" data-target="#@string.Format("modalAyuda")"
                   title="Ayuda" @*class="btn btn-link-1-google-plus btn-circle btn-md"*@
                   class="btn btn-ayuda btn-md"
                   @*style="border: 1px solid lightslategray; border-radius:0px"*@>
                    <i class="glyphicon glyphicon-question-sign" @*style="color:black"*@></i>
                </a>
                <div id="@string.Format("modalAyuda")" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header encabezado" style="background-color:transparent; border-bottom:none">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    @*<span aria-hidden="true">&times;</span>*@
                                </button>
                                <h4 class="modal-title title">Ayuda / Editar Requisitos Legales y Otros</h4>
                            </div>
                            <div class="modal-body" style="color:black">

                                <div class="row">
                                    <div class="col-xs-7" style="text-align:justify">
                                        <p>Click en Guardar Registro para agregar la edición del Requisito Legal</p>
                                    </div>
                                    <div class="col-xs-5">
                                        <button type="button" class="boton botonactive" disabled>Guardar Registro</button>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="boton botoncancel" data-dismiss="modal">Salir</button>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body form-horizontal">
            @Html.HiddenFor(model => model.PK_RequisitosLegalesOtros)         
            <div class="row">
                <div class="col-md-2">
                    <label>Tipo Norma:</label>
                </div>
                <div class="col-md-4">                  
                    @Html.EditorFor(model => model.Tipo_Norma, new { htmlAttributes = new { @class = "form-control"}, id="idtiponorma"})
                </div>
                <div class="col-md-2">
                    <label>N° Norma:</label>
                </div>
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Numero_Norma, new { htmlAttributes = new { @class = "form-control"} })
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>Fecha Publicación:</label>
                </div>
                <div class="col-md-2">
                    @Html.EditorFor(model => model.FechaPublicacion, new { htmlAttributes = new { @class = "form-control", @id = "idFechaPublicacion" } })
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>Artículo:</label>
                </div>
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Articulo, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="col-md-2">
                    <label>Ente:</label>
                </div>
                <div class="col-md-4" id="txtArea_asp">
                    @Html.EditorFor(model => model.Ente, new { htmlAttributes = new { @class = "form-control"} })
                </div>
            </div>
            <br />            
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-4">Descripción:</label>
                        <div class="col-md-8">
                            @Html.TextAreaFor(model => model.Descripcion, new { @class = "form-control", rows = "5", @style = "resize: none;" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-4">Sugerencias:</label>
                        <div class="col-md-8" style="resize:none">
                            @Html.TextAreaFor(model => model.Sugerencias, new { @class = "form-control", rows = "5", @style = "resize: none;" })
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="well well-sm">
                <h4 style="margin-left:40%; text-decoration:underline"><b>Peligros Aspectos e Impactos</b></h4>
                <br />
                <div class="row">
                    <div class="col-md-2">
                        <label>Clase de peligo:</label>
                    </div>
                    <div class="col-md-4" id="txtArea_asp">
                        @Html.EditorFor(model => model.Clase_De_Peligro, new { htmlAttributes = new { @class = "form-control"} })
                    </div>
                    <div class="col-md-2">
                        <label>Peligro:</label>
                    </div>
                    <div class="col-md-4" id="txtArea_asp">
                        @Html.EditorFor(model => model.Peligro, new { htmlAttributes = new { @class = "form-control"} })
                    </div>
                </div>                
                <br />
                <div class="row">
                    <div class="col-md-2">
                        <label>Aspectos:</label>
                    </div>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Aspectos, new { htmlAttributes = new { @class = "form-control"} })
                    </div>
                    <div class="col-md-2">
                        <label>Impactos:</label>
                    </div>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Impactos, new { htmlAttributes = new { @class = "form-control"} })
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>Evidencia de Cumplimiento:</label>
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Evidencia_Cumplimiento, new { htmlAttributes = new { @class = "form-control"} })
                </div>
            </div>
            <br />
            <div class="well well-sm">
                <h4 style="margin-left:40%; text-decoration:underline"><b>Evaluación</b></h4>
                <br />
                <div class="row">
                    <div class="col-md-2">
                        <label>Cumplimiento:</label>
                    </div>
                    <div class="col-md-4">
                        @Html.DropDownList("FK_Cumplimiento_Evaluacion", null, htmlAttributes: new { @class = "form-control" }, optionLabel: "-- Seleccionar --")
                    </div>
                    <div class="col-md-2">
                        <label>Hallazgo:</label>
                    </div>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Hallazgo, new { htmlAttributes = new { @class = "form-control"} })
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>Estado:</label>
                </div>
                <div class="col-md-4">
                    @Html.DropDownList("FK_Estado_RequisitoslegalesOtros", null, htmlAttributes: new { @class = "form-control" }, optionLabel: "-- Seleccionar --")
                </div>
                <div class="col-md-2">
                    <label>Responsable:</label>
                </div>
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Responsable, new { htmlAttributes = new { @class = "form-control"} })
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4">
                    <label>Fecha de Seguimiento del control:</label>
                </div>
                <div class="col-md-2">           
                    @Html.EditorFor(model => model.Fecha_Seguimiento_Control, new { htmlAttributes = new { @class = "form-control", @id = "idFecha_Seguimiento_Control" } })
                </div>

                <div class="col-md-4">
                    <label>Fecha de Actualización:</label>
                </div>
                <div class="col-md-2">           
                    @Html.EditorFor(model => model.Fecha_Actualizacion, new { htmlAttributes = new { @class = "form-control", @id = "idFecha_Actualizacion" } })
                </div>
            </div>
            <br />
            <div class="col-md-9"></div>
            <div class="col-md-3">      
                <button type="submit" onclick="validarRequisitoslegalesModificarRequisitoMat()" class="boton botonactive">Guardar Registro</button>
            </div>
        </div>        
    </div>
    <a href="@Url.Action("ListadoMastrices", "RequisitosLegalesOtros") " class="btn btn-search btn-md" title="Formulario Principal"> 
        <span class="glyphicon glyphicon-arrow-left"></span>
    </a>
}
@section Scripts {
    @Scripts.Render("~/bundles/planificacion")
}
