@model SG_SST.EntidadesDominio.Planificacion.EDProcesoSede


@{
    ViewBag.Title = "CARGUE MASIVO Dx GENERAL DE CONDICIONES DE SALUD";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Site.css" rel="stylesheet" />
<!-- Bootstrap core CSS -->
<link href="~/Content/miga-de-pan.css" rel="stylesheet">
<!-- Referencia a botones -->
<link rel="stylesheet" href="~/Content/css/specialbuttons.css">
<ol class="breadcrumb">
    <li><a href="@Url.Action("Index","Home")">Planificación</a></li>
    <li><a href="@Url.Action("HistoricoDxPorSedes", "DxGralCondicionSalud")">Dx Condiciones de Salud</a></li>
    <li class="active">Cargue Masivo</li>
</ol>

@*<div class="row">*@
<form enctype="multipart/form-data" id="frmCargueMasimo">
    @*<div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">*@
    <div class="panel panel-default" style="background-color: rgba(196, 202,196, 0.1)">
        <div class="panel-heading" style="color:white">Cargue Masivo Diagnóstico General de Condiciones de Salud</div>

        @*Boton ayuda*@
        <div align="right">
            <div id="ayuda" style="text-align:right">
                <a href="" data-toggle="modal" data-target="#@string.Format("modalAyuda")"
                   title="Ayuda" class="btn btn-ayuda btn-md">
                    <i class="glyphicon glyphicon-question-sign"></i>
                </a>
                <div id="@string.Format("modalAyuda")" class=" modal fade" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header encabezado" style="background-color:transparent; border-bottom:none">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    @*<span aria-hidden="true">&times;</span>*@
                                </button>
                                <h4 class="modal-title title">Ayuda</h4>
                            </div>
                            <div class="modal-body" style="color:black; text-align:justify">

                                Esta función de cargue masivo, le permitirá por medio de la descarga de un plantilla en Excel, registrar masivamente la información del diagnóstico de condiciones de salud de sus trabajadores, para luego subirla por este mismo medio y facilitar la sistematización de la información. Use las listas de códigos de procesos y sedes para registrar en la planilla los códigos y facilitar el cargue. Recuerde que para los campos de Nombre de Proceso y Sede, el sistema solo acepta el número del código que aparece en las listas abajo colocadas. Si requiere de un proceso o sede y este no se encuentra en estas listas, por favor regístrelo en el módulo de empresa.
                                Nota: Por favor tener en cuenta la pestaña denominada Diagnostico CIE10, la cual se encuentra en la plantilla disponible para descargar; la misma le ayudará a identificar el código del Diagnostico CIE10 para diligenciarlo correctamente.

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="boton botoncancel" data-dismiss="modal">Salir</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-body form-horizontal">
            <div class="row" style="margin-left:15%;">
                <div class="col-md-6">
                    <input type="file" value="Seleccionar Plantilla" id="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" name="file" class="form-control" />
                </div>
                <div class="col-md-4">
                    <button type="button" id="idUpPlantillaDx" class="boton botonactive">Cargar plantilla</button>
                </div>
            </div>
            <br />
            <div class="row" align="center">
                <div class="col-md-12" id="descargarPlantilla">
                    <a id="descargarPlantilla" href="@Url.Action("DescargarPlantilla", null, new {})" class="boton botonactive">
                        Descargar Plantilla
                    </a>
                </div>
            </div>
        </div>
    </div>


    <h3>Lista de códigos a tener en cuenta para el diligenciamento de la plantilla.</h3>

    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <a data-toggle="modal" title="Plan de acción" class="btn btn-search btn-md" onclick="mostrarProceso()">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                </a>
                <b> Mostrar Procesos</b>
            </div>
        </div>
    </div>

    <div id="IdProcesoCargue" hidden="hidden" class="col-md-8">
        <table class="table table-bordered" style="border: 2px solid lightslategray" id="TablaProcesos">
            <thead>
                <tr class="titulos_tabla">
                    <th style="border-right: 2px solid lightslategray; border-bottom: 2px solid lightslategray; text-align:center; vertical-align: middle; text-transform: uppercase;">Código Proceso</th>
                    <th style="border-right: 2px solid lightslategray; border-bottom: 2px solid lightslategray; text-align:center; vertical-align: middle; text-transform: uppercase;">Nombre Proceso</th>
                </tr>
            </thead>

            <tbody id="procesos">
                @foreach (var item in Model.procesos)
                {
                    <tr name="temSed">
                        <td style="border-right: 2px solid lightslategray; vertical-align:middle">
                            @Html.DisplayFor(modelItem => item.Id_Proceso)
                        </td>

                        <td style="border-right: 2px solid lightslategray; vertical-align:middle">
                            @Html.DisplayFor(modelItem => item.Descripcion)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <a data-toggle="modal" title="Plan de acción" class="btn btn-search btn-md" onclick="mostrarSedes()">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                </a>
                <b> Mostrar Sedes</b>
            </div>
        </div>
    </div>

    <div id="idSede" hidden="hidden" class="col-md-8">
        <table class="table table-bordered" style="border: 2px solid lightslategray" id="TablaSedes">
            <thead>
                <tr class="titulos_tabla">
                    <th style="border-right: 2px solid lightslategray; border-bottom: 2px solid lightslategray; text-align:center; vertical-align: middle; text-transform: uppercase;">Código Sede</th>

                    <th style="border-right: 2px solid lightslategray; border-bottom: 2px solid lightslategray; text-align:center; vertical-align: middle; text-transform: uppercase;">Nombre Sede</th>
                </tr>
            </thead>

            <tbody id="actividades">
                @foreach (var item in Model.sedes)
                {
                    <tr name="temSed">
                        <td style="border-right: 2px solid lightslategray; vertical-align:middle">
                            @Html.DisplayFor(modelItem => item.IdSede)
                        </td>

                        <td style="border-right: 2px solid lightslategray; vertical-align:middle">
                            @Html.DisplayFor(modelItem => item.NombreSede)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="col-md-5" id="reporteExcel" align="left">
        <a id="descargarRepExcel" href="@Url.Action("DescargarReporteExcelSedesYProcesos", null, new {})" class="boton botonactive">

            Descargar códigos


        </a>


    </div>



    @*</div>*@
</form>

@*<div id="listadoCargue" hidden="hidden">
        <a href="@Url.Action("Listado","PerfilSocioDemoGrafico")" class="boton botoninfo" title="Listado Perfiles" style="text-decoration:none">
            Listado Perfiles
        </a>
    </div>*@

@section Scripts {
    @Scripts.Render("~/bundles/Planificacion")
}
