@model IEnumerable<SG_SST.Models.Empresas.Proceso>
<div class="panel panel-default" style="background-color: rgba(196, 202,196, 0.1)">
    <div class="panel-heading" style="color:white">Listado Procesos Empresa</div>
    <table class="table table-condensed table-bordered" style="border: 2px solid lightslategray">

        <tr class="titulos_tabla">
            <th width="35%" style="border-right: 2px solid lightslategray; border-bottom: 2px solid lightslategray; text-align:center; vertical-align:middle; text-transform: uppercase">
                <label>Proceso Padre</label>
            </th>
            <th width="50%" style="border-right: 2px solid lightslategray; border-bottom: 2px solid lightslategray; text-align:center; vertical-align:middle; text-transform: uppercase">
                <label>Proceso</label>
            </th>
            <th width="15%" style="border-right: 2px solid lightslategray; border-bottom: 2px solid lightslategray; text-align:center; vertical-align:middle; text-transform: uppercase">
                Acciones
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td style="border-right: 2px solid lightslategray; vertical-align:middle">
                    @Html.DisplayFor(modelItem => item.Procesos.Descripcion_Proceso)
                </td>

                <td style="border-right: 2px solid lightslategray; vertical-align:middle">
                    @Html.DisplayFor(modelItem => item.Descripcion_Proceso)
                </td>

                <td style="border-right: 2px solid lightslategray; vertical-align:middle; text-align:center">
                    <a href="@Url.Action("Edit", new { id = item.Pk_Id_Proceso })" class="btn btn-search btn-md" title="Editar">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    @*@Html.ActionLink(SG_SST.Recursos.GeneralApp.General.btn_editar, "Edit", new { id = item.Pk_Id_Proceso },
                        htmlAttributes: new { @type = "button", @class = "glyphicon glyphicon-pencil " })*@
                    |
                    @*<button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#@string.Format("modalEliminar{0}", item.Pk_Id_Proceso)">
                            @SG_SST.Recursos.GeneralApp.General.btn_Eliminar
                        </button>*@
                    <a data-toggle="modal" data-target="#@string.Format("modalEliminar{0}", item.Pk_Id_Proceso)" class="btn btn-search bnt-md" title="Eliminar">
                        <span class="glyphicon glyphicon-erase"></span>
                    </a>

                    <div id="@string.Format("modalEliminar{0}", item.Pk_Id_Proceso)" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header encabezado" style="background-color:transparent; border-bottom:none">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        @*<span aria-hidden="true">&times;</span>*@
                                    </button>
                                    <h4 class="modal-title title">Eliminar Proceso y Subproceso</h4>
                                </div>
                                <div class="modal-body " style="text-align:center">
                                    <p>¿Esta seguro desea eliminar el Proceso?</p>
                                </div>
                                <div class="modal-footer">
                                    @Html.ActionLink(SG_SST.Recursos.GeneralApp.General.btn_Eliminar, "DeleteConfirmed", new { id = item.Pk_Id_Proceso },
                                htmlAttributes: new { @type = "button", @class = "boton botonactive" })
                                    <button type="button" class="boton botoncancel" data-dismiss="modal">Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </td>

            </tr>
        }
    </table>
</div>
    @section Scripts{
        @Scripts.Render("~/bundles/Empresas")
    }
