@model SG_SST.EntidadesDominio.Aplicacion.EDSeleccionYEvaluacion

@{
    ViewBag.Title = "Selección y Evaluación";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {

    <style>
        .ui-datepicker .ui-icon ui-icon-circle-triangle-e {
            font-size: 12px;
            color: blue;
        }
    </style>

    @Scripts.Render("~/bundles/Aplicacion")

}

<link href="~/Content/Site.css" rel="stylesheet">
<!-- Bootstrap core CSS -->
<link href="~/Content/miga-de-pan.css" rel="stylesheet">
<!-- Referencia a botones -->
<link href="~/Content/css/specialbuttons.css" rel="stylesheet">

@*@section OpcionesEmpresa
{
    <ul class="nav nav-tabs">
        <li><a href="@Url.Action("Create", "CriteriosSST")" style="color:gray">Criterios</a></li>
        <li class="active"><a href="@Url.Action("Calificar", "CriteriosSST")" style="color:#ff7500">Selección y Evaluación</a></li>
        <li><a href="@Url.Action("VisualizarCalificacion", "CriteriosSST")" style="color:gray">Visualizar Calificaciones de Proveedores y Contratistas</a></li>
        <li><a href="@Url.Action("Create", "CriteriosSST")" style="color:gray">Listado de Proveedores y Contratistas</a></li>
    </ul>
}*@
<br />
<ol class="breadcrumb">
    <li><a href="@Url.Action("Create", "CriteriosSST")">Criterios</a></li>
    <li><a href="@Url.Action("Calificar", "CriteriosSST")">Selección y Evaluación</a></li>
    <li><a href="@Url.Action("VisualizarCalificacion", "CriteriosSST")">Visualizar Calificaciones de Proveedores</a></li>
    <li class="active"><a href="@Url.Action("MostrarProveedores", "CriteriosSST")">Listado de Proveedores y Contratistas</a></li>
</ol>
<hr />
<form method="post" id="grabarSeleccionEvaluacion" enctype="multipart/form-data">
    <div class="panel panel-default" style="background-color: rgba(196, 202,196, 0.1)">
        <div class="panel-heading" style="color:white">
            Editar Selección y Evaluación
        </div>

        @*Boton ayuda*@
        <div align="right">
            <div id="ayuda" style="text-align:right">
                <a href="" data-toggle="modal" data-target="#@string.Format("modalAyuda")"
                   title="Ayuda" class="btn btn-ayuda btn-md">
                    <i class="glyphicon glyphicon-question-sign"></i>
                </a>
                <div id="@string.Format("modalAyuda")" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header encabezado" style="background-color:transparent; border-bottom:none">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    @*<span aria-hidden="true">&times;</span>*@
                                </button>
                                <h4 class="modal-title title">Ayuda / Editar Selección y Evaluación</h4>
                            </div>
                            <div class="modal-body " style="color:black">
                                <p style="margin-bottom:2%;line-height: 200%;"><strong></strong>Por favor ingrese todos los campos.</p>
                                <p style="margin-bottom:2%;line-height:200%;">Presione <input type="file" class="form-control" disabled /> para adjuntar los anexos que desee.</p>
                                <p style="margin-bottom:2%;line-height:200%;">En el campo: Tipo de Servicio y Producto, seleccione los Tipos de Servicio y Producto a calificar.</p>
                                <p style="margin-bottom:2%;line-height:200%;">
                                    Por favor seleccione
                                    <select class="form-control" style="width: 80%; margin-left:10%" disabled>
                                        <option value="True">Cumple</option>
                                        <option value="False" selected='selected'>No Cumple</option>
                                    </select>
                                    para calificar los criterios de los Tipos de Servicio y Producto seleccionados, con Cumple o no Cumple.
                                </p>
                                <p style="margin-bottom:2%;line-height:200%;">Presione <span class="glyphicon glyphicon-erase" style="color: #FF7500; border: 1px solid #ff7500; padding: 8px 8px; width: auto"></span> para remover un Tipo de Servicio y Producto que no desee calificar.</p>
                                <p style="margin-bottom:2%;line-height:200%;">Presione <button type="button" class="boton botonactive" disabled>GUARDAR</button> para guardar la selección y Evaluación creada.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="boton botoncancel" data-dismiss="modal">Salir</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body form-horizontal">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3" @*style="width:15.5%; text-align:left"*@>
                        <label>Fecha de la Calificación</label>
                        <input type="text" class="form-control" name="fechapi" id="fechapi" readonly value="@Model.fechapi.ToString("dd/MM/yyyy")" />
                        <label for="fechapi" class="error" style="display:none;"></label>
                    </div>
                    <div class="col-md-6" @*style="width:15.5%; text-align:left"*@>
                        @Html.Label("Anexos")
                        @*<input type="file" name="File1" class="form-control" id="input-file" onchange="validaciontamañodocumento()" />*@

                        <input id="files" type="file" name="files" class="form-control" multiple data-preview-file-type="any" onchange="validacioCargarAnexos()" />
                        @*<input class="form-control" type="text" id="anexo" readonly />*@
                    </div>
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3" @*style="width:15.5%; text-align:left"*@>
                        @Html.Label("Proveedor")
                        <input class="form-control" type="text" id="nameProveedor" name="nameProveedor" value="@Model.nameProveedor" />
                    </div>
                    <div class="col-md-3" @*style="width:15.5%; text-align:left"*@>
                        @Html.Label("NIT")
                        <input class="form-control" type="text" id="nitProveedor" name="nitProveedor" value="@Model.nitProveedor" />
                    </div>
                    <div class="col-md-5" @*style="width:15.5%; text-align:left"*@>
                        @Html.Label("Tipo de Servicio y Producto")
                        @*@Html.DropDownList("Procesos", null, htmlAttributes: new { @class = "form-control", @onchange = "consultarSubProcesos()" }, optionLabel: "Seleccionar")*@
                        @Html.DropDownList("Pk_Id_Productos", null, htmlAttributes: new { @class = "form-control", @onchange = "consultarProductosPorCriterio()" }, optionLabel: "-- Seleccionar --")
                        @*@Html.DropDownList("Pk_Id_Criterio1", (SelectList)ViewBag.Pk_Id_Criterios, "-- Seleccione Los Criterios--", new { @class = "form-control selectpicker", @multiple = "multiple" })*@
                    </div>
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-7" @*style="width:15.5%; text-align:left"*@>
                        @Html.Label("Observaciones")
                        <input class="form-control" type="text" id="observacion" name="observacion" value="@Model.observacion" />
                    </div>
                    <div class="col-md-3" @*style="width:15.5%; text-align:left"*@>
                        @Html.Label("Resultado de la Calificación")
                        <div class="form-group">
                            <div class="input-group">
                                <input class="form-control" type="text" id="calif" name="calif" readonly value="@Model.calif" />
                                <div class="input-group-addon alert-warning">
                                    <span>% </span>
                                </div>
                            </div>
                        </div>
                        <input name="PK_ProveedorPorNumeroCalificacion" id="PK_ProveedorPorNumeroCalificacion" class="form-control" type="hidden" value="@Model.PK_ProveedorPorNumeroCalificacion" />
                    </div>
                </div>
            </div>

            <br />

            <div id="TablaProcuctoCriter">
                <div class="table-responsive">
                    <table class="table table-bordered" style="border: 2px solid lightslategray" id="TablaProcuctoCrit">
                        <tr class="titulos_tabla">
                            <th style="border-right: 2px solid lightslategray; border-bottom: 2px solid lightslategray; text-align:center; vertical-align:middle; text-transform:uppercase">
                                @Html.Label("Acción")
                            </th>
                            <th style="border-right: 2px solid lightslategray; border-bottom: 2px solid lightslategray; text-align:center; vertical-align:middle; text-transform:uppercase" width="15%">
                                @Html.Label("Tipo de Servicio y Producto")
                            </th>
                            <th style="border-right: 2px solid lightslategray; border-bottom: 2px solid lightslategray; text-align:center; vertical-align:middle; text-transform:uppercase">
                                @Html.Label("Criterio en SST")
                            </th>
                            <th style="border-right: 2px solid lightslategray; border-bottom: 2px solid lightslategray; text-align:center; vertical-align:middle; text-transform:uppercase">
                                @Html.Label("Calificación de Criterios")
                            </th>
                        </tr>
                        @{
                            var grupoDeProd = Model.ListaProCritPorCalf.GroupBy(x => x.idServicioProducto);
                            foreach (var groupProduct in grupoDeProd)
                            {
                                var isRowSpam = true;
                                foreach (var criterio in groupProduct)
                                {
                                    <tr name="datos" id="datos">
                                        @if (isRowSpam)
                                        {
                                            <td rowspan="@groupProduct.Count()" id="eliminar" name="eliminar"
                                                style="border-right: 2px solid lightslategray; vertical-align:middle; text-align:center">
                                                <a onclick="eliminarTrProducto(@criterio.idServicioProducto)"
                                                   title="Eliminar Tipo de Servicio" class="btn btn-md btn-search">
                                                    <span class="glyphicon glyphicon-erase" name="iconoEliminar"></span>
                                                </a>
                                            </td>
                                            <td rowspan="@groupProduct.Count()" id="id_servicioProdu" name="id_servicioProdu"
                                                style="border-right: 2px solid lightslategray; vertical-align:middle">
                                                @criterio.Nombre_ServicioOProducto
                                                @*<input name="idServicioProducto" id="idServicioProducto" class=" form-control" type="hidden" value="@Model.idServicioProducto" />*@
                                                <input name="idServicioProducto" id="idServicioProducto" class="form-control" type="hidden" value="@criterio.idServicioProducto" />
                                                <div class="input-group" style="width: 80%; margin-left:10%">
                                                    <input class="form-control" type="text" id="califProducto" name="califProducto" readonly value="@criterio.califProducto" />
                                                    <div class="input-group-addon alert-warning">
                                                        <span>% </span>
                                                    </div>
                                                </div>
                                            </td>
                                            isRowSpam = false;
                                        }
                                        <input name="idServicioProd" class="form-control" type="hidden" value="@criterio.idServicioProducto" />
                                        <td name="nameCrit" id="nameCrit"
                                            style="border-right: 2px solid lightslategray; vertical-align:middle">
                                            @criterio.NombreCriterio
                                            <input name="IdProductoCriterios" class="form-control" type="hidden" value="@criterio.IdProductoCriterios" />
                                        </td>
                                        <td id="calificacion" name="calificacion"
                                            style="border-right: 2px solid lightslategray; vertical-align:middle; text-align:center">
                                            @if (criterio.ddlViewBy == true)
                                            {
                                                <select id="ddlViewBy" name="ddlViewBy" onchange="calificacionProveedor(@criterio.idServicioProducto)" class="form-control" style="width: 80%; margin-left:10%">
                                                    <option value="True" selected='selected'>Cumple</option>
                                                    <option value="False">No Cumple</option>
                                                </select>
                                            }
                                            else
                                            {
                                                <select id="ddlViewBy" name="ddlViewBy" onchange="calificacionProveedor(@criterio.idServicioProducto)" class="form-control" style="width: 80%; margin-left:10%">
                                                    <option value="True">Cumple</option>
                                                    <option value="False" selected='selected'>No Cumple</option>
                                                </select>
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    </table>
                </div>
            </div>

            <div class="row" align="center">
                <div class="col-md-6" text-center">
                    <button type="submit" class="boton botonactive" onclick="EditarSeleccionEvaluacion()">Guardar</button>
                </div>
                <div class="col-md-6">
                    <button class="boton botoncancel" onclick="location.href='@Url.Action("VisualizarCalificacion", "CriteriosSST")';return false;">CANCELAR</button>
                </div>
            </div>

        </div>
    </div>
</form>
