@model SG_SST.Models.Ausentismo.AusenciaModel
@{
    ViewBag.Title = "Alertas de Ausentismo";
}
<div class="main">
    <div class="page-header">
        @using (Html.BeginForm("AlertarAusenciaConsultar", "Ausencias", FormMethod.Post, new { @id = "FrmAusencias", @class = "form-horizontal" }))
        {
            <div class="panel panel-default">
                <div class="panel-heading" style="color:black">
                    ALERTAS DE AUSENTISMO
                </div>
                <div class="panel-body form-horizontal">

                    <div class="row form-group">
                        <div class="col-md-3">
                            @Html.Label("Empresa:", new { @class = "control-label" })
                        </div>
                        <div class="col-md-9">
                            @Html.TextBoxFor(model => model.RazonSocial, new { @class = "form-control", disabled = "disabled" })
                        </div>
                    </div>
                    <div class="row form-group">
                        @if (Model.EmpresasUsuarias.Count > 0)
                        {
                            <div class="col-md-3">
                                @Html.Label("Empresa Usuaria:", new { @class = "control-label" })
                            </div>
                            <div class="col-md-3">
                                @Html.DropDownListFor(x => x.IdEmpresaUsuaria, Model.EmpresasUsuarias, "--Seleccione--", new { @class = "form-control" })
                            </div>
                        }
                        else
                        {
                            <div class="col-md-3">
                                @Html.Label("Empresa Usuaria:", new { @class = "control-label", @disabled = "disabled" })
                            </div>
                            <div class="col-md-3">
                                @Html.DropDownListFor(x => x.IdEmpresaUsuaria, Model.EmpresasUsuarias, "--Seleccione--", new { @class = "form-control bloqueado", @disabled = "disabled" })
                            </div>
                        }
                    </div>
                    <div class="row form-group">
                        <div class="col-md-3">
                            @Html.Label("Año de Gestión:", new { @class = "control-label" })
                        </div>
                        <div class="col-md-3">
                            @Html.DropDownListFor(x => x.AnioSeleccionado, Model.Anios, "--Seleccione--", new { @class = "form-control" })
                        </div>
                        <div class="col-md-3">
                            &nbsp;
                        </div>
                        <div class="col-md-3">
                            <button type="button" id="ConsultarAlertarAusencia" class="boton botonactive">Consultar Alertas</button>
                        </div>
                    </div>
                </div>
            </div>
            <section id="ResultadoAusencias"></section>
        }
    </div>
</div>
@*@Scripts.Render("~/Scripts/Ausencias/DatosAusencias.js")*@
@section scripts
    {
    <script src="@Url.Content("~/Scripts/Ausencias/AlertarAusencia.js")" type="text/javascript"></script>
}
