@model SG_SST.EntidadesDominio.Planificacion.EDPerfilSocioDemografico
@{
    ViewBag.Title = "Modificar PerfilSociodemográfico";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>

    $(function () {
        $("#Nombre1").css("background-color", "whitesmoke").css("color", "#black").css("border", "groove");;
        $("#Nombre2").css("background-color", "whitesmoke").css("color", "#black").css("border", "groove");;
        $("#Apellido1").css("background-color", "whitesmoke").css("color", "#black").css("border", "groove");;
        $("#Apellido2").css("background-color", "whitesmoke").css("color", "#black").css("border", "groove");;
        $("#eps").css("background-color", "whitesmoke").css("color", "#black").css("border", "groove");;
        $("#afp").css("background-color", "whitesmoke").css("color", "#black").css("border", "groove");;
        $("#IdMunicipio_Sede").css("background-color", "whitesmoke").css("color", "#black").css("border", "groove");;
        $("#IdDepartamento_Sede").css("background-color", "whitesmoke").css("color", "#black").css("border", "groove");;
        $("#idDireccion").css("background-color", "whitesmoke").css("color", "#black").css("border", "groove");;

        $("#OcupacionPerfil").css("background-color", "whitesmoke").css("color", "#black").css("border", "groove");;
        $("#idFechaNacimiento").css("background-color", "whitesmoke").css("color", "#black").css("border", "groove");;
        $("#Cargo").css("background-color", "whitesmoke").css("color", "#black").css("border", "groove");;
        $("#fechaIngresoEmpresa").css("background-color", "whitesmoke").css("color", "#black").css("border", "groove");;
        $("#anyos").css("background-color", "whitesmoke").css("color", "#black").css("border", "groove");;
        $("#meses").css("background-color", "whitesmoke").css("color", "#black").css("border", "groove");;
        $("#dias").css("background-color", "whitesmoke").css("color", "#black").css("border", "groove");;
        var edad = $("#idFechaNacimiento").val();
        if (edad <= 25) {
            $("input[name=Grupo][value='Menores de 18 años a 25 años']").prop("checked", true);
            $("#GrupoEtarios").val('Menores de 18 años a 25 años');
        }
        else if (edad >= 26 && edad <= 35) {

            $("input[name=Grupo][value='26 a 35 años']").prop("checked", true);
            $("#GrupoEtarios").val("26 a 35 años");

        }
        else if (edad >= 36 && edad <= 45) {
            $("input[name=Grupo][value='36 a 45 años']").prop("checked", true);
            $("#GrupoEtarios").val("36 a 45 años");

        }
        else if (edad >= 46 && edad <= 55) {
            $("input[name=Grupo][value='46 a 55 años']").prop("checked", true);
            $("#GrupoEtarios").val("46 a 55 años");
        }
        else {
            $("input[name=Grupo][value='Mayores a los 55 Años']").prop("checked", true);
            $("#GrupoEtarios").val("Mayores a los 55 Años");

        }



    });
</script>


<link href="~/Content/Site.css" rel="stylesheet" />
<!-- Bootstrap core CSS -->
<link href="~/Content/miga-de-pan.css" rel="stylesheet">
<!-- Referencia a botones -->
<link rel="stylesheet" href="~/Content/css/specialbuttons.css">

<ol class="breadcrumb">
    <li><a href="@Url.Action("Index","Home")">Planificación</a></li>
    <li><a href="@Url.Action("Listado", "PerfilSocioDemoGrafico")">Perfil Sociodemográfico</a></li>
    <li class="active">Modificar Perfil SocioDemográfico</li>
</ol>

@*<form method="post" action="@Url.Action("GrabarPerfilSocioDemografico")" id="PerfilSocioDemografico" name="PerfilSocioDemografico">*@


@using (Html.BeginForm("EditarPerfilSocioDemografico", "PerfilSocioDemoGrafico", FormMethod.Post, new { @id = "PerfilSocioDemografico", @class = "form-horizontal" }))
{
   


    <div style="background-color:rgba(196, 202,196, 0.1)" class="well" id="formPlan" >




     <input type="text" id="nitEmpresa" name="nitEmpresa" value="@(ViewBag.NitEmpresa)" hidden="hidden" />

        <input type="text" id="IDEmpleado_PerfilSocioDemoGrafico" name="IDEmpleado_PerfilSocioDemoGrafico" hidden="hidden" value="@Model.IDEmpleado_PerfilSocioDemoGrafico"  />

        <input type="text" id="PK_Numero_Documento_Empl" name="PK_Numero_Documento_Empl"  value="@Model.PK_Numero_Documento_Empl" hidden="hidden" /> 
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-md-7">Primer Nombre:</label>
                    <div class="col-md-11">
                        <input type="text" id="Nombre1" name="Nombre1" class="form-control" maxlength="100" value="@(ViewBag.Nombre1)" readonly />
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-md-7">Segundo Nombre:</label>
                    <div class="col-md-11">
                        <input type="text" id="Nombre2" name="Nombre2" class="form-control" maxlength="100" value="@(ViewBag.Nombre2)" readonly />
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-md-7">Primer Apellido:</label>
                    <div class="col-md-11">
                        <input type="text" id="Apellido1" name="Apellido1" class="form-control" maxlength="100" value="@(ViewBag.Apellido1)" readonly/>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-md-7">Segundo Apellido:</label>
                    <div class="col-md-11">
                        <input type="text" id="Apellido2" name="Apellido2" class="form-control" maxlength="100" value="@(ViewBag.Apellido2)" readonly />
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group has-feedback">
                    <label class="col-md-7">E.P.S:</label>
                    <div class="col-md-11">

                        <input type="text" id="eps" name="eps" class="form-control" value="@(ViewBag.eps)" accept="" readonly>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group has-feedback">
                    <label class="col-md-7">A.F.P:</label>
                    <div class="col-md-11">

                        <input type="text" id="afp" name="afp" class="form-control" value="@(ViewBag.afp)" accept="" readonly>
                    </div>
                </div>
            </div>

        </div>


        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="col-md-7">Sede:</label>
                    <div class="col-md-10">
                        @Html.DropDownList("Pk_Id_Sede", null, htmlAttributes: new { @class = "form-control", @onchange = "BuscarSedeMunicipio()" })


                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="col-md-8">Municipio:</label>
                    <div class="col-md-10">

                        <input type="text" id="IdMunicipio_Sede" name="IdMunicipio_Sede" value="@(ViewBag.IdMunicipio_Sede)" class=" form-control" readonly />

                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="col-md-7">Departamento:</label>
                    <div class="col-md-10">

                        <input type="text" id="IdDepartamento_Sede" name="DepartamentoSede" class="form-control" value="@(ViewBag.IdDepartamento_Sede)" readonly />

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="col-md-7">Zona/Lugar:</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ZonaLugar, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-md-8">Proceso:</label>
                    <div class="col-md-12">
                        @Html.DropDownList("Procesos", null, htmlAttributes: new { @class = "form-control", }, optionLabel: "-- Seleccionar --")


                    </div>
                </div>
            </div>

        </div>

        <h4>Exposición a Peligros</h4>

        @*aqui va grilla de peligros*@
   
        @*aqui va grilla de peligros*@

        <table class="table table-bordered" style="border: 2px solid lightslategray" id="TablaRiesgoEditada" hidden="hidden">
            <thead>
                <tr class="titulos_tabla">

                    @*<th style="border-right: 2px solid lightslategray; border-bottom: 2px solid lightslategray; text-align:center">Sede</th>
                    <th style="border-right: 2px solid lightslategray; border-bottom: 2px solid lightslategray; text-align:center">Zona o lugar</th>*@
                    <th style="border-right: 2px solid lightslategray; border-bottom: 2px solid lightslategray; text-align:center">Clasificación del Peligro</th>
                    <th style="border-right: 2px solid lightslategray; border-bottom: 2px solid lightslategray; text-align:center">Descripción del Peligro</th>
                    <th style="border-right: 2px solid lightslategray; border-bottom: 2px solid lightslategray; text-align:center">Tiempo de Exposición  en  Meses</th>
                    <th style="border-right: 2px solid lightslategray; border-bottom: 2px solid lightslategray; text-align:center">Acciones</th>
                </tr>
            </thead>
            <tbody id="actividadesClonadas">
                <tr id="filaRiesgoClonar" name="filaRiesgoClonar">

                    @*<td style="border-right: 2px solid lightslategray; vertical-align:middle">
                        @Html.DropDownList("Pk_Id_Sede", null, htmlAttributes: new { @class = "form-control", @onchange = "BuscarSedeMunicipio()" }, optionLabel: "-- Seleccionar --")


                    </td>
                    <td style="border-right: 2px solid lightslategray; vertical-align:middle">
                        <input type="text" id="ZonaLugar" name="ZonaLugar" class="form-control  style=" text-align right" />
                    </td>*@
                    <td style="border-right: 2px solid lightslategray; vertical-align:middle">

                        @Html.DropDownList("FK_Tipo_De_Peligro", null, htmlAttributes: new { @class = "form-control", @onchange = "ConsultarClasesPeligrosPerfil(this)" }, optionLabel: "-- Seleccionar --")
                    </td>

                    <td style="border-right: 2px solid lightslategray; vertical-align:middle">
                        @*Descripcion/otro*@
                        <div class="col-md-12">
                            <div id="divSelectClas" name="divSelectClas">
                                <select id="FK_Clasificacion_De_Peligro" name="FK_Clasificacion_De_Peligro" class="form-control"></select>
                            </div>
                            <input id="Otro" name="Otro" type="hidden" class="form-control" />
                        </div>
                    </td>
                    <td style="border-right: 2px solid lightslategray; vertical-align:middle">
                        <input type="text" id="tiempoExpos" name="tiempoExpos" class="form-control" onkeydown="darFormatoSoloNumerosPer(this)" style="text-align:center" maxlength="3" />

                    </td>

                    <td style="border-right: 2px solid lightslategray; vertical-align:middle; text-align:center">
                        @*<input type="button" id="eliminarFila" value="Eliminar" onclick="eliminarActividad(this)">*@
                        <a data-toggle="modal" title="Borrar Actividad" class="btn btn-search btn-md" onclick="eliminarCondicionDeRiesgoEditado(this)">
                            <span class="glyphicon glyphicon-erase"></span>
                        </a>

                    </td>


                </tr>






            </tbody>
        </table>








        <table class="table table-bordered" style="border: 2px solid lightslategray" id="TablaRiesgo">

            <thead>
                <tr class="titulos_tabla">

                    @*<th style="border-right: 2px solid lightslategray; border-bottom: 2px solid lightslategray; text-align:center">Sede</th>
                    <th style="border-right: 2px solid lightslategray; border-bottom: 2px solid lightslategray; text-align:center">Zona o lugar</th>*@
                    <th style="border-right: 2px solid lightslategray; border-bottom: 2px solid lightslategray; text-align:center; vertical-align: middle; text-transform: uppercase;">Clasificación del Peligro</th>
                    <th style="border-right: 2px solid lightslategray; border-bottom: 2px solid lightslategray; text-align:center; vertical-align: middle; text-transform: uppercase;">Descripción del Peligro</th>
                    <th style="border-right: 2px solid lightslategray; border-bottom: 2px solid lightslategray; text-align:center; vertical-align: middle; text-transform: uppercase;">Tiempo de Exposición  en  Meses</th>
                    <th style="border-right: 2px solid lightslategray; border-bottom: 2px solid lightslategray; text-align:center; vertical-align: middle; text-transform: uppercase;">Acción</th>
                </tr>
            </thead>
            <tbody id="actividades">
                @foreach (var item in Model.condicionesRiesgo)
                {
                    <tr id="filaRiesgo" name="filaRiesgo">

                        <td id="idCondiciones" hidden="hidden">
                            <input type="text" id="PKCondicionesRiesgoPerfil" name="PKCondicionesRiesgoPerfil" value="@item.PKCondicionesRiesgoPerfil" class=" form-control" readonly />
                        </td>
                        <td style="border-right: 2px solid lightslategray; vertical-align:middle">
                            @*@Html.DropDownList("FK_Tipo_De_Peligro", null, htmlAttributes: new { @class = "form-control" }, optionLabel: "-- Seleccionar --")*@
                            <div id="clasesDePeligro" hidden="hidden">
                                @Html.DropDownList("FK_Tipo_De_Peligro", null, htmlAttributes: new { @class = "form-control", @onchange = "ConsultarClasesPeligrosPerfilEditado(this)" }, optionLabel: "-- Seleccionar --")
                            </div>
                            <div id="descripcionPeligro">
                                @Html.EditorFor(model => item.descripcionPeligro, new { htmlAttributes = new { @class = "form-control", @onclick = "mostrarClaseDePeligros(this)" } })
                            </div>
                        </td>
                        <td width="65%" style="border-right: 2px solid lightslategray; vertical-align:middle">
                            @*Descripcion/otro*@
                            <div class="col-md-12">
                                <div id="divSelectClas" name="divSelectClas" hidden="hidden">
                                    <select id="FK_Clasificacion_De_Peligro" name="FK_Clasificacion_De_Peligro" class="form-control" hidden="hidden"></select>
                                </div>
                                @Html.EditorFor(model => item.ClasificacionPeligro, new { htmlAttributes = new { @class = "form-control", @onclick = "cambiarCuadroDialogoOtro(this)" } })


                                <input id="FK_Clasificacion_De_PeligroE" name="FK_Clasificacion_De_PeligroE" type="hidden" value="@item.FK_Clasificacion_De_Peligro" class="form-control" />
                                <input id="Otro" name="Otro" type="hidden" value="@item.OtroPeligro" class="form-control" />
                            </div>
                        </td>
                        <td style="border-right: 2px solid lightslategray; vertical-align:middle">
                            @*@Html.EditorFor(model => item.tiempoExpos, new { htmlAttributes = new { @class = "form-control" } })*@
                            <input type="text" id="tiempoExpos" name="tiempoExpos" class="form-control" style="text-align:center" value="@item.tiempoExpos" maxlength="3">
                        </td>

                        <td style="border-right: 2px solid lightslategray; vertical-align:middle; text-align:center">
                            <a data-toggle="modal" data-target="#@string.Format("modalEliminar{0}",item.PKCondicionesRiesgoPerfil)" class="btn btn-search btn-md" title="Eliminar Imagen">
                                <span class="glyphicon glyphicon-erase"></span>
                            </a>

                            <div id="@string.Format("modalEliminar{0}", item.PKCondicionesRiesgoPerfil)" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header encabezado" style="background-color:transparent; border-bottom:none">

                                            <h4 class="modal-title title">Eliminar la exposición</h4>
                                        </div>
                                        <div class="modal-body" style="text-align:center; color:black">
                                            <p>¿Está seguro de eliminar la exposición?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="boton botonactive" data-dismiss="modal" onclick="EliminarExposSelec(this,@item.PKCondicionesRiesgoPerfil)">ELIMINAR</button>
                                            <button type="button" class="boton botoncancel" data-dismiss="modal">CANCELAR</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </td>



                    </tr>


                }
            </tbody>

        </table>



        <div class="row">
            <div class="col-md-4">
                <button type="button" class="boton botonactive" id="agregarCondiesgoDeRiesgoEditado">Agregar Nueva Exposición</button>
            </div>
        </div>

          



        <div class="col-md-4" hidden="hidden">


        
            @Html.EditorFor(model => model.nitEmpresa, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

        </div>







       

            <br />

        <div class="row">
            <br />
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="col-md-7" style="font-size:larger">Grado de Escolaridad</label>
                    <hr style="border-top-color:lightslategray; width:97%" />
                    <div class="col-md-3">
                        <label>
                            @Html.RadioButtonFor(model => model.GradoEscolaridad, "Primaria Incompleta", true) Primaria Incompleta

                        </label>
                    </div>
                    <div class="col-md-3">
                        <label>

                            @Html.RadioButtonFor(model => model.GradoEscolaridad, "Primaria Completa", true) Primaria Completa

                        </label>
                    </div>
                    <div class="col-md-3">
                        <label>

                            @Html.RadioButtonFor(model => model.GradoEscolaridad, "Bachillerato Completo", true) Bachillerato Completo
                        </label>
                    </div>
                    <div class="col-md-3">
                        <label>
                            @Html.RadioButtonFor(model => model.GradoEscolaridad, "Bachillerato Icompleto", true) Bachillerato Icompleto

                        </label>
                    </div>



                </div>

            </div>

            <div class="row">

                <div class="col-sm-12">
                    @*<div class="form-group">*@


                    <div class="col-md-3">
                        <label>
                            @Html.RadioButtonFor(model => model.GradoEscolaridad, "Técnico", true) Técnico
                        </label>
                    </div>
                    <div class="col-md-3">
                        <label>
                            @Html.RadioButtonFor(model => model.GradoEscolaridad, "Tecnólogo", true) Tecnólogo
                        </label>
                    </div>

                    <div class="col-md-3">
                        <label>

                            @Html.RadioButtonFor(model => model.GradoEscolaridad, "Profesional Universitario", true) Profesional Universitario
                        </label>
                    </div>
                    <div class="col-md-3">
                        <label>

                            @Html.RadioButtonFor(model => model.GradoEscolaridad, "Profesional con Especialización", true) Profesional con Especialización
                        </label>
                    </div>



                    @*</div>*@
                </div>

            </div>

            <div class="row">

                <div class="col-sm-12">
                    @*<div class="form-group">*@


                    <div class="col-md-3">
                        <label>

                            @Html.RadioButtonFor(model => model.GradoEscolaridad, "Postgrado con Maestría", true) Postgrado con Maestría
                        </label>
                    </div>
                    <div class="col-md-3">
                        <label>

                            @Html.RadioButtonFor(model => model.GradoEscolaridad, "Postgrado con Doctorado", true) Postgrado con Doctorado
                        </label>
                    </div>

                    <div class="col-md-3">
                        <label>

                            @Html.RadioButtonFor(model => model.GradoEscolaridad, "Sin Escolaridad", true) Sin Escolaridad

                        </label>
                    </div>

                    @*</div>*@
                </div>
            </div>
        </div>


       
        
                <br />

        <div class="row">

            <div class="col-sm-12">
                <div class="form-group">
                    <label class="col-md-7" style="font-size:larger">Ingresos</label>
                    <hr style="border-top-color:lightslategray; width:97%" />
                    <div class="col-md-3">
                        <label>
                            @Html.RadioButtonFor(model => model.Ingresos, "Menos de un SMLV", true) Menos de un SMLV

                        </label>
                    </div>
                    <div class="col-md-3">
                        <label>
                            @Html.RadioButtonFor(model => model.Ingresos, "Entre 1 y 4 SMLV", true)Entre 1 y 4 SMLV


                        </label>
                    </div>
                    <div class="col-md-3">
                        <label>
                            @Html.RadioButtonFor(model => model.Ingresos, "Entre 5 y 10 SMLV", true) Entre 5 y 10 SMLV


                        </label>
                    </div>
                    <div class="col-md-3">
                        <label>
                            @Html.RadioButtonFor(model => model.Ingresos, "11 SMLV o más", true) 11 SMLV o más

                        </label>
                    </div>

                </div>
            </div>
        </div>       


                <br />

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="col-md-7" style="font-size:larger">Lugar de residencia</label>
                            <hr style="border-top-color:lightslategray; width:97%; margin-bottom:-5px" />
                        </div>
                    </div>
                </div>

                <div class="row">   

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="col-md-7">Departamento:</label>
                            <div class="col-md-10">
                                @Html.DropDownList("Fk_Id_Departamento", null, htmlAttributes: new { @class = "form-control", @onchange = "BuscarMunicipios()" }, optionLabel: "-- Seleccionar --")
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="col-md-7">Ciudad/Municipio:</label>
                            <div class="col-md-10">
                                @Html.DropDownList("Fk_Id_Municipio", null, htmlAttributes: new { @class = "form-control" },optionLabel: "-- Seleccionar --")
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-md-7">Dirección:</label>
                            <div class="col-md-10">
                                <input type="text" id="idDireccion" name="Direccion" class="form-control" value="@(ViewBag.Direccion)" maxlength="50" readonly/>

                            </div>
                        </div>
                    </div>

                </div>

                <br />

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="col-md-7" style="font-size:larger">Composición Familiar</label>
                    <hr style="border-top-color:lightslategray; width:97%" />
                    <div class="col-md-4">
                        <label>
                            Conyuge o compañero permanente
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label>
                            @Html.RadioButtonFor(model => model.Conyuge, "true", true) Si


                        </label>

                        <label>

                            @Html.RadioButtonFor(model => model.Conyuge, "false", true) No


                        </label>
                    </div>
                </div>
            </div>
        </div>

                <span id="errorConyuge"></span>

        <div class="row">
            <div class="col-md-1">
                <label>
                    Hijos
                </label>
            </div>
            <div class="col-md-2">
                <label>

                    @Html.RadioButtonFor(model => model.Hijos, "true", true) Si


                </label>
                <label>
                    @Html.RadioButtonFor(model => model.Hijos, "false", true) No

                </label>
            </div>
        </div>

                <span id="errorHijos"></span>

                <hr style="border-top-color:lightslategray; width:100%" />

                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-md-10">Estrato Socioeconómico:</label>
                            <div class="col-md-10">
                                @Html.DropDownList("FK_Estrato", null, htmlAttributes: new { @class = "form-control" })


                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-md-7">Estado Civil:</label>
                            <div class="col-md-10">
                                @Html.DropDownList("FK_Estado_Civil", null, htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-md-7">Etnia:</label>
                            <div class="col-md-10">
                                @Html.DropDownList("FK_Etnia", null, htmlAttributes: new { @class = "form-control" }, optionLabel: "-- Seleccionar --")
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label class="col-md-3">Ocupación CIUO:</label>
                            <div class="col-md-8">
                                <input class="form-control" type="text" id="OcupacionPerfil" name="OcupacionPerfil" value="@(ViewBag.Ocupacion)" readonly />

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-md-2">Edad:</label>
                            <div class="col-md-4">

                                <input type="text" class="form-control left" id="idFechaNacimiento" name="idFechaNacimiento" value="@(ViewBag.edad)" readonly>
                            </div>
                        </div>
                    </div>

                </div>

                <br />

        <div class="row">

            <div class="col-sm-12">
                <div class="form-group">
                    <label class="col-md-7" style="font-size:larger">Sexo</label>
                    <hr style="border-top-color:lightslategray; width:97%" />
                    <div class="col-md-2">
                        <label>

                            @Html.RadioButtonFor(model => model.Sexo, "M", true) Masculino

                        </label>
                    </div>
                    <div class="col-md-2">
                        <label>
                            @Html.RadioButtonFor(model => model.Sexo, "F", true) Femenino


                        </label>
                    </div>
                </div>
            </div>

        </div>
                <br />
        <div class="row">
            @*<fieldset class="radiogroup">
            <div class="radio">*@
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="col-md-7" style="font-size:larger">Grupo Etario</label>
                    <hr style="border-top-color:lightslategray; width:97%" />

                    @*<div class="radio">*@
                    <div class="col-md-2">
                        <label>
                            <input type="radio" name="Grupo" id="GrupoEtariosID" value="Menores de 18 años a 25 años">Menores de 18 años a 25 años
                        </label>
                    </div>
                    <div class="col-md-3">
                        <label>
                            <input type="radio" name="Grupo" value="26 a 35 años">26 a 35 años
                        </label>
                    </div>

                    <div class="col-md-2">
                        <label>
                            <input type="radio" name="Grupo" value="36 a 45 años">36 a 45 años
                        </label>
                    </div>


                    <div class="col-md-2">
                        <label>
                            <input type="radio" name="Grupo" value="46 a 55 años"> 46 a 55 años
                        </label>
                    </div>

                    <div class="col-md-3">
                        <label>
                            <input type="radio" name="Grupo" value="Mayores a los 55 Años"> Mayores a los 55 Años
                        </label>
                    </div>

                    @*</div>*@
                </div>
            </div>
        </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-md-7">Vinculación Laboral:</label>
                        <div class="col-md-10">
                            @Html.DropDownList("FK_VinculacionLaboral", null, htmlAttributes: new { @class = "form-control" }, optionLabel: "-- Seleccionar --")
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-md-7">Turno de Trabajo:</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.TurnoTrabajo, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-md-7">Cargo:</label>
                        <div class="col-md-10">
                            <input type="text" id="Cargo" name="Cargo" class="form-control" maxlength="100" value="@(ViewBag.Cargo)" readonly />

                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group has-feedback">
                        <label class="col-md-7">Fecha de ingreso a la empresa:</label>
                        <div class="col-md-10">

                            <input type="text" class="form-control left" id="fechaIngresoEmpresa" name="fechaIngresoEmpresa" value="@(ViewBag.fechaIngresoEmpresa)" accept="" readonly>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group has-feedback">
                        <label class="col-md-7">Fecha de ingreso en el último cargo:</label>
                        <div class="col-md-10">
                            <i class="glyphicon glyphicon-calendar form-control-feedback"></i>
                            <input type="text" class="form-control left" id="FechaIngresoUltimoCargo" name="FechaIngresoUltimoCargo" value="@(ViewBag.FechaIngresoUltimoCargo)" accept="" readonly>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="form-group" style="margin-left:3px">
                    <label class="col-md-7">Antiguedad en la empresa:</label>

                </div>

                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="col-md-7">Años</label>
                        <div class="col-md-10">
                            <input class="form-control left" id="anyos" name="anyos" value="@(ViewBag.Anyos)" readonly>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="col-md-7">Meses</label>
                        <div class="col-md-10">
                            <input class="form-control left" id="meses" name="meses" value="@(ViewBag.Mes)" readonly>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="col-md-7">Días</label>
                        <div class="col-md-10">
                            <input class="form-control left" id="dias" name="dias" value="@(ViewBag.Dia)" readonly>
                        </div>
                    </div>
                </div>


            </div>

            <br />

            <div class="row">

                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-md-7">CARACTERÍSTICAS PARA EL DESEMPEÑO DEL CARGO:</label>
                    </div>

                </div>
            </div>




            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-md-8">CARACTERÍSTICAS FÍSICAS:</label>
                        <div class="col-md-12">

                            <textarea id="caracteristicasFisicas" name="caracteristicasFisicas" class="form-control" rows="6" cols="6" maxlength="996" style="resize:none">@ViewBag.caracteristicasFisicas</textarea>
                        </div>
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-md-8">CARACTERÍSTICAS PSICOLÓGICAS:</label>
                        <div class="col-md-12">

                            <textarea id="caracteristicasPsicologicas" name="caracteristicasPsicologicas" class="form-control" rows="6" cols="6" maxlength="996" style="resize:none">@ViewBag.caracteristicasPsicologicas</textarea>



                        </div>
                    </div>
                </div>
            </div>




            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-md-8">EVALUACIONES MÉDICAS REQUERIDAS:</label>
                        <div class="col-md-12">


                            <textarea id="evaluacionesMedicasRequeridas" name="evaluacionesMedicasRequeridas" class="form-control" rows="6" cols="6" maxlength="996" style="resize:none">@ViewBag.evaluacionMedica</textarea>


                        </div>
                    </div>
                </div>
            </div>
            <div class="row" align="center" id="btnFormPerfil">


                @*<div class="col-md-4">*@


                <button type="button" data-toggle="modal" data-target="#@string.Format("modalactualizarp")" class="boton botonactive">Actualizar Perfil </button>

                <div id="@string.Format("modalactualizarp")" class=" modal fade" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header encabezado" style="background-color:transparent; border-bottom:none">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    @*<span aria-hidden="true">&times;</span>*@<span aria-hidden="true"></span><span aria-hidden="true"></span>
                                </button>
                                <h4 class="modal-title title">Estimado Usuario</h4>
                            </div>
                            <div class="modal-body" style="color:black">
                                <center><p>¿Está seguro de actualizar la información?</p></center>
                            </div>
                            <div class="modal-footer">

                     <button type="submit" id="actRegistroEditado" onclick="validarPerfilSocioDemografico()" class="boton botonactive">Si</button>


                      @*<button type="submit" id="actRegistroEditado"  class="boton botonactive">Si</button>*@


                                <button type="button" class="boton botoncancel" data-dismiss="modal">No</button>
                            </div>
                        </div>
                    </div>

                </div>
        
            </div>
        </div>
    <div id="modalesEliminados"></div>
}

@section Scripts {
    @Scripts.Render("~/bundles/Planificacion")
}


















































