@model SG_SST.Models.Participacion.TipoPrioridadMiembro

@{
    ViewBag.Title = "Editar Tipo de Prioridad Miembros Comites";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Site.css" rel="stylesheet" />
<!-- Bootstrap core CSS -->
<link href="~/Content/miga-de-pan.css" rel="stylesheet">
<!-- Referencia a botones -->
<link rel="stylesheet" href="~/Content/css/specialbuttons.css">

<ol class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home")">Configuración Maestros</a></li>
    <li><a href="javascript:void(0)">Tipos de Prioridad Miembros Comites</a></li>
    <li class="active">Editar Tipo de Prioridad Miembros Comites</li>
</ol>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Tipo de Prioridad Miembros Comites</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.PK_Id_TipoPrioridadMiembro)

        <div class="form-group">
            <div class="control-label col-md-2">
                <label>Tipo de Prioridad</label>
            </div>
            <div class="col-md-6">
                @Html.EditorFor(model => model.DescripcionTipoMiembro, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DescripcionTipoMiembro, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-0 col-md-12">
                @*<input type="submit" value="Save" class="btn btn-default" />*@
                <button type="submit" class="boton botonactive">Guardar</button> 
                |
                <a href="@Url.Action("Index")" class="boton botoninfo">
                    Volver a la Lista
                </a>
            </div>
        </div>
    </div>
}
