@model SG_SST.Models.Planificacion.ClasificacionDePeligro

@{
    ViewBag.Title = "Editar Clasificación de Peligro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/Site.css" />
<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="~/Content/miga-de-pan.css" />
<!-- Referencia a botones -->
<link rel="stylesheet" href="~/Content/css/specialbuttons.css" />

<ol class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home")">Configuración Maestros</a></li>
    <li><a href="javascript:void(0)">Clasificación de Peligros</a></li>
    <li class="active">Editar Clasificación de Peligro</li>
</ol>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Clasificación de Peligro</h4>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.PK_Clasificacion_De_Peligro)

        <div class="form-group">
            @Html.LabelFor(model => model.Descripcion_Clase_De_Peligro, "Descripción Clase de Peligro", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Descripcion_Clase_De_Peligro, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Descripcion_Clase_De_Peligro, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Detalle_Clase_De_Peligro, "Detalle Clase de Peligro", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Detalle_Clase_De_Peligro, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Detalle_Clase_De_Peligro, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FK_Tipo_De_Peligro, "Tipo de Peligro", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.DropDownList("FK_Tipo_De_Peligro", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FK_Tipo_De_Peligro, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-0 col-md-12">
                <button type="submit" class="boton botonactive">Guardar</button>
                |
                <a href="@Url.Action("Index")" class="boton botoninfo">
                    Volver a la Lista
                </a>
            </div>
        </div>
    </div>
}
