@model SG_SST.EntidadesDominio.Aplicacion.EDAdmoEMH
@{
    ViewBag.Title = "Nueva Hoja de Vida";
}
<script type="text/javascript" src="@Url.Content("~/Scripts/Aplicacion/NuevoEHM.js")"></script>
<link href="~/Content/Acciones/Acciones.css? <?php echo date('Y-m-d H:i:s'); ?>" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<!-- Bootstrap core CSS -->
<link href="~/Content/miga-de-pan.css" rel="stylesheet">
<!-- Referencia a botones -->
<link rel="stylesheet" href="~/Content/css/specialbuttons.css">
<ol class="breadcrumb">
    <li><a href="javascript:void(0)">Aplicación</a></li>
    <li><a href="javascript:void(0)">Administración equipo, maquinaria y herramientas</a></li>  
    <li class="active">Nueva Hoja de Vida</li>
</ol>
@Html.AntiForgeryToken()
<script>
    //DatePicker
    $(document).ready(function () {
        ConstruirDatePickerPorElemento('Fecha_Fab');       
    });
    //Cargar Imagenes
    $(function () {
        $('#btn-adj-img').click(function () {
            if (window.FormData !== undefined) {
                var fileUpload = $("#input-img").get(0);
                var files = fileUpload.files;
                var fileData = new FormData();
                for (var i = 0; i < files.length; i++) {
                    fileData.append(files[i].name, files[i]);
                    fileData.append('extraParam1', $("#Imagen1").val());
                    fileData.append('extraParam2', $("#Imagen2").val());
                    fileData.append('extraParam3', $("#Imagen3").val());
                    fileData.append('extraParam4', $("#Imagen4").val());
                    fileData.append('extraParam5', $("#Imagen5").val());

                    fileData.append('extraParam6', $("#Imagen1_s").val());
                    fileData.append('extraParam7', $("#Imagen2_s").val());
                    fileData.append('extraParam8', $("#Imagen3_s").val());
                    fileData.append('extraParam9', $("#Imagen4_s").val());
                    fileData.append('extraParam10', $("#Imagen5_s").val());

                }
                PopupPosition();
                $.ajax({
                    url: '/AdmoEMH/UploadImg',
                    type: "POST",
                    contentType: false,
                    processData: false,
                    data: fileData,
                    success: function (result) {
                        $("#msj_novedad_archivo").text('');
                        $("#div_novedad_archivo").removeClass("alert alert-info alert-warning alert-danger alert-success");
                        if (result.probar == false) {
                            $("#msj_novedad_archivo").text(result.resultado);
                            $("#div_novedad_archivo").removeClass("alert alert-info alert-warning alert-danger alert-success").addClass("alert alert-warning");
                        }
                        else {
                            

                            
                            var cont1 = document.getElementById('ContImg1');
                            var cont2 = document.getElementById('ContImg2');
                            var cont3 = document.getElementById('ContImg3');
                            var cont4 = document.getElementById('ContImg4');
                            var cont5 = document.getElementById('ContImg5');

                            if (result.display[0]==true) {
                                cont1.style.display = "initial";
                            }
                            else {
                                cont1.style.display = "none";
                            }
                            if (result.display[1] == true) {
                                cont2.style.display = "initial";
                            }
                            else {
                                cont2.style.display = "none";
                            }
                            if (result.display[2] == true) {
                                cont3.style.display = "initial";
                            }
                            else {
                                cont3.style.display = "none";
                            }
                            if (result.display[3] == true) {
                                cont4.style.display = "initial";
                            }
                            else {
                                cont4.style.display = "none";
                            }
                            if (result.display[4] == true) {
                                cont5.style.display = "initial";
                            }
                            else {
                                cont5.style.display = "none";
                            }
                            $("#img-act1").attr("src", result.Thumbnails[0]);
                            $("#img-act2").attr("src", result.Thumbnails[1]);
                            $("#img-act3").attr("src", result.Thumbnails[2]);
                            $("#img-act4").attr("src", result.Thumbnails[3]);
                            $("#img-act5").attr("src", result.Thumbnails[4]);


                            $("#Imagen1").val(result.NuevoNombreArchivos[0]);
                            $("#Imagen2").val(result.NuevoNombreArchivos[1]);
                            $("#Imagen3").val(result.NuevoNombreArchivos[2]);
                            $("#Imagen4").val(result.NuevoNombreArchivos[3]);
                            $("#Imagen5").val(result.NuevoNombreArchivos[4]);

                            $("#Imagen1_s").val(result.NuevoNombreArchivos_short[0]);
                            $("#Imagen2_s").val(result.NuevoNombreArchivos_short[1]);
                            $("#Imagen3_s").val(result.NuevoNombreArchivos_short[2]);
                            $("#Imagen4_s").val(result.NuevoNombreArchivos_short[3]);
                            $("#Imagen5_s").val(result.NuevoNombreArchivos_short[4]);
                        }
                        OcultarPopupposition();
                    }
                    ,
                    error: function (err) {
                        $("#msj_novedad_archivo").text("Error al cargar el archivo");
                        $("#div_novedad_archivo").removeClass("alert alert-info alert-warning alert-danger alert-success").addClass("alert alert-warning");
                        OcultarPopupposition();
                    }
                });

            }
            else {

            }
        });
    });
    //Eliminar Imagen
    $(function () {
        $("#Eliminar-img1").click(function () {
            PopupPosition();
            $.ajax({
                type: "POST",
                url: "/AdmoEMH/EliminarImg",
                data: '{ruta: "' + $("#Imagen1").val() + '" }',
                contentType: "application/json; charset=utf-8",
                cache: false,
                dataType: "json",
                success: function (response) {
                    OcultarPopupposition();
                    if (response.probar == false) {
                    }
                    else {
                        var cont1 = document.getElementById('ContImg1');
                        cont1.style.display = "none";
                        $("#Imagen1").val(null);
                        $("#img-act1").attr("src", null);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    OcultarPopupposition();
                }
            });
        });
        $("#Eliminar-img2").click(function () {
            PopupPosition();
            $.ajax({
                type: "POST",
                url: "/AdmoEMH/EliminarImg",
                data: '{ruta: "' + $("#Imagen2").val() + '" }',
                contentType: "application/json; charset=utf-8",
                cache: false,
                dataType: "json",
                success: function (response) {
                    OcultarPopupposition();
                    if (response.probar == false) {
                    }
                    else {
                        var cont1 = document.getElementById('ContImg2');
                        cont1.style.display = "none";
                        $("#Imagen2").val(null);
                        $("#img-act2").attr("src", null);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    OcultarPopupposition();
                }
            });
        });
        $("#Eliminar-img3").click(function () {
            PopupPosition();
            $.ajax({
                type: "POST",
                url: "/AdmoEMH/EliminarImg",
                data: '{ruta: "' + $("#Imagen3").val() + '" }',
                contentType: "application/json; charset=utf-8",
                cache: false,
                dataType: "json",
                success: function (response) {
                    OcultarPopupposition();
                    if (response.probar == false) {
                    }
                    else {
                        var cont1 = document.getElementById('ContImg3');
                        cont1.style.display = "none";
                        $("#Imagen3").val(null);
                        $("#img-act3").attr("src", null);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    OcultarPopupposition();
                }
            });
        });
        $("#Eliminar-img4").click(function () {
            PopupPosition();
            $.ajax({
                type: "POST",
                url: "/AdmoEMH/EliminarImg",
                data: '{ruta: "' + $("#Imagen4").val() + '" }',
                contentType: "application/json; charset=utf-8",
                cache: false,
                dataType: "json",
                success: function (response) {
                    OcultarPopupposition();
                    if (response.probar == false) {
                    }
                    else {
                        var cont1 = document.getElementById('ContImg4');
                        cont1.style.display = "none";
                        $("#Imagen4").val(null);
                        $("#img-act4").attr("src", null);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    OcultarPopupposition();
                }
            });
        });
        $("#Eliminar-img5").click(function () {
            PopupPosition();
            $.ajax({
                type: "POST",
                url: "/AdmoEMH/EliminarImg",
                data: '{ruta: "' + $("#Imagen5").val() + '" }',
                contentType: "application/json; charset=utf-8",
                cache: false,
                dataType: "json",
                success: function (response) {
                    OcultarPopupposition();
                    if (response.probar == false) {
                    }
                    else {
                        var cont1 = document.getElementById('ContImg5');
                        cont1.style.display = "none";
                        $("#Imagen5").val(null);
                        $("#img-act5").attr("src", null);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    OcultarPopupposition();
                }
            });
        });
    });
    //Cargar Archivos
    $(function () {
        $('#btn-add-file').click(function () {
            if (window.FormData !== undefined) {
                var fileUpload = $("#input-file").get(0);
                var files = fileUpload.files;
                var fileData = new FormData();
                for (var i = 0; i < files.length; i++) {
                    fileData.append(files[i].name, files[i]);
                    fileData.append('extraParam1', $("#Archivo1").val());
                    fileData.append('extraParam2', $("#Archivo2").val());
                    fileData.append('extraParam3', $("#Archivo3").val());
                    fileData.append('extraParam4', $("#Archivo_s1").val());
                    fileData.append('extraParam5', $("#Archivo_s2").val());
                    fileData.append('extraParam6', $("#Archivo_s3").val());
                }
                PopupPosition();
                $.ajax({
                    url: '/AdmoEMH/UploadFiles',
                    type: "POST",
                    contentType: false,
                    processData: false,
                    data: fileData,
                    success: function (result) {
                        $("#msj_novedad_archivo").text('');
                        $("#div_novedad_archivo").removeClass("alert alert-info alert-warning alert-danger alert-success");
                        if (result.probar == false) {
                            $("#msj_novedad_archivo").text(result.resultado);
                            $("#div_novedad_archivo").removeClass("alert alert-info alert-warning alert-danger alert-success").addClass("alert alert-warning");
                        }
                        else {
                            $("#Grid2 > tbody").html("");
                            var table_id = document.getElementById('Grid2');
                            table_id.style.display = "none";
                            



                            if (result.display[0] == true) {
                                $("#Archivo1").val(result.NuevoNombreArchivos[0]);
                                $("#Archivo_s1").val(result.NuevoNombreArchivos_short[0]);
                                table_id.style.display = "table";
                                var html = "<tr id=\"csfile1\">";
                                html += "<td style=\"border-right: 2px solid lightslategray; vertical-align:middle; text-align:justify\">" + result.NuevoNombreArchivos_short[0] + "</td>";
                                html += "<td style=\"vertical-align:middle; text-align:center\">" + "<a onclick=\"jsFunction1();\" id=\"delete-file1\" class=\"btn btn-sm btn-positiva btnEliminarArchivo\" title=\"Eliminar Archivo\"><span class=\"glyphicon glyphicon-erase\"></span></a>" + "</td>";
                                $("#Grid2 tbody").append(html);
                            }
                            else {
                                $("#Archivo1").val(null);
                                $("#Archivo_s1").val(null);
                            }
                            if (result.display[1] == true) {
                                $("#Archivo2").val(result.NuevoNombreArchivos[1]);
                                $("#Archivo_s2").val(result.NuevoNombreArchivos_short[1]);
                                table_id.style.display = "table";
                                var html = "<tr id=\"csfile2\">";
                                html += "<td style=\"border-right: 2px solid lightslategray; vertical-align:middle; text-align:justify\">" + result.NuevoNombreArchivos_short[1] + "</td>";
                                html += "<td style=\"vertical-align:middle; text-align:center\">" + "<a onclick=\"jsFunction2();\" id=\"delete-file2\" class=\"btn btn-sm btn-positiva btnEliminarArchivo\" title=\"Eliminar Archivo\"><span class=\"glyphicon glyphicon-erase\"></span></a>" + "</td>";
                                $("#Grid2 tbody").append(html);
                            }
                            else {
                                $("#Archivo2").val(null);
                                $("#Archivo_s2").val(null);
                            }
                            if (result.display[2] == true) {
                                $("#Archivo3").val(result.NuevoNombreArchivos[2]);
                                $("#Archivo_s3").val(result.NuevoNombreArchivos_short[2]);
                                table_id.style.display = "table";
                                var html = "<tr id=\"csfile3\">";
                                html += "<td style=\"border-right: 2px solid lightslategray; vertical-align:middle; text-align:justify\">" + result.NuevoNombreArchivos_short[2] + "</td>";
                                html += "<td style=\"vertical-align:middle; text-align:center\">" + "<a onclick=\"jsFunction3();\" id=\"delete-file3\" class=\"btn btn-sm btn-positiva btnEliminarArchivo\" title=\"Eliminar Archivo\"><span class=\"glyphicon glyphicon-erase\"></span></a>" + "</td>";
                                $("#Grid2 tbody").append(html);
                            }
                            else {
                                $("#Archivo3").val(null);
                                $("#Archivo_s3").val(null);
                            }
                            
                        }
                        OcultarPopupposition();
                    }
                    ,
                    error: function (err) {
                        $("#msj_novedad_archivo").text("Error al cargar el archivo");
                        $("#div_novedad_archivo").removeClass("alert alert-info alert-warning alert-danger alert-success").addClass("alert alert-warning");
                        OcultarPopupposition();
                    }
                });

            }
            else {

            }
        });
    });
    //Eliminar Archivos
    function jsFunction1() {
        PopupPosition();
        $.ajax({
            type: "POST",
            url: "/AdmoEMH/EliminarArchivo",
            data: '{ruta: "' + $("#Archivo1").val() + '" }',
            contentType: "application/json; charset=utf-8",
            cache: false,
            dataType: "json",
            success: function (response) {
                OcultarPopupposition();
                if (response.probar == false) {
                }
                else {
                    $("#Archivo1").val(null);
                    $("#Archivo_s1").val(null);
                    $("#csfile1").remove();
                    if ($("#Archivo1").val().length === 0) {
                        if ($("#Archivo2").val().length === 0) {
                            if ($("#Archivo3").val().length === 0) {
                                var table_id = document.getElementById('Grid2');
                                table_id.style.display = "none";
                            }
                        }
                    }
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                OcultarPopupposition();
            }
        });
    }
    function jsFunction2() {
        PopupPosition();
        $.ajax({
            type: "POST",
            url: "/AdmoEMH/EliminarArchivo",
            data: '{ruta: "' + $("#Archivo2").val() + '" }',
            contentType: "application/json; charset=utf-8",
            cache: false,
            dataType: "json",
            success: function (response) {
                OcultarPopupposition();
                if (response.probar == false) {
                }
                else {
                    $("#Archivo2").val(null);
                    $("#Archivo_s2").val(null);
                    $("#csfile2").remove();
                    if ($("#Archivo1").val().length === 0) {
                        if ($("#Archivo2").val().length === 0) {
                            if ($("#Archivo3").val().length === 0) {
                                var table_id = document.getElementById('Grid2');
                                table_id.style.display = "none";
                            }
                        }
                    }
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                OcultarPopupposition();
            }
        });
    }
    function jsFunction3() {
        PopupPosition();
        $.ajax({
            type: "POST",
            url: "/AdmoEMH/EliminarArchivo",
            data: '{ruta: "' + $("#Archivo3").val() + '" }',
            contentType: "application/json; charset=utf-8",
            cache: false,
            dataType: "json",
            success: function (response) {
                OcultarPopupposition();
                if (response.probar == false) {
                }
                else {
                    $("#Archivo3").val(null);
                    $("#Archivo_s3").val(null);
                    $("#csfile3").remove();
                    if ($("#Archivo1").val() == null) {
                        if ($("#Archivo2").val().length == null) {
                            if ($("#Archivo3").val().length == null) {
                                var table_id = document.getElementById('Grid2');
                                table_id.style.display = "none";
                            }
                        }
                    }
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                OcultarPopupposition();
            }
        });
    }   
    ////buscar nombre responsable
    //$(function () {
    //    $("#buscar_id_res").click(function () {
    //        PopupPosition();
    //        $.ajax({
    //            type: "POST",
    //            url: "/AdmoEMH/BuscarPersonaDocumentoCargo",
    //            data: '{documento: "' + $("#Cedula").val() + '" }',
    //            contentType: "application/json; charset=utf-8",
    //            cache: false,
    //            dataType: "json",
    //            success: function (response) {
    //                OcultarPopupposition();
    //                $("#NombreResponsable").val(response.resultado[0]);
    //                $("#CargoResponsable").val(response.resultado[1]);
    //                if (response.probar == false) {

    //                    $("#msj_novedad").text("Persona no encontrada");
    //                    $("#div_novedad").removeClass("alert alert-info alert-warning alert-danger alert-success").addClass("alert alert-warning");
    //                }
    //                else {
    //                    $("#msj_novedad").text("Persona encontrada");
    //                    $("#div_novedad").removeClass("alert alert-info alert-warning alert-danger alert-success").addClass("alert alert-success");
    //                }
    //            },
    //            error: function (jqXHR, textStatus, errorThrown) {
    //                OcultarPopupposition();
    //                var value = "";
    //                $("#NombreResponsable").val(value);
    //                $("#CargoResponsable").val(value);

    //            }
    //        });
    //    });
    //});
    //Guardar EHM
    $(function () {
        $("#GuardarEHM").bind("click", function () {
            var onEventLaunchGuardar = new postGuardar();
            onEventLaunchGuardar.launchGuardar();
        });
    });
    function postGuardar() {
        this.launchGuardar = function () {
            var stringArray = new Array();
            var ListaPeligros = new Array();
            $('#Grid3 tbody').find('tr').each(function () {
                var row = $(this);
                var EDPeligroEMH = {
                    Fk_Id_Peligro: row.attr('name')
                }
                ListaPeligros.push(EDPeligroEMH);
            });
            stringArray[0] = $('input:radio[name="TipoElemento"]:checked').val();
            stringArray[1] = $("#NombreElemento").val();
            stringArray[2] = $("#CodigoElemento").val();
            stringArray[3] = $("#Marca").val();
            stringArray[4] = $("#Modelo").val();
            stringArray[5] = $("#Fabricante").val();
            stringArray[6] = $("#Fecha_Fab").val();
            stringArray[7] = $("#HorasVida").val();
            stringArray[8] = $("#Ubicacion").val();
            stringArray[9] = $("#Caracteristicas").val();
            stringArray[10] = $("#NombreResponsable").val();
            stringArray[11] = $("#CargoResponsable").val();
            stringArray[12] = $("#CargoResponsable").val();
            stringArray[13] = $("#CargoResponsable").val();
            stringArray[14] = $("#CargoResponsable").val();
            stringArray[16] = $("#Imagen1").val();
            stringArray[17] = $("#Imagen2").val();
            stringArray[18] = $("#Imagen3").val();
            stringArray[19] = $("#Imagen4").val();
            stringArray[20] = $("#Imagen5").val();
            stringArray[21] = $("#Archivo1").val();
            stringArray[22] = $("#Archivo2").val();
            stringArray[23] = $("#Archivo3").val();
            stringArray[24] = $("#Imagen1_s").val();
            stringArray[25] = $("#Imagen2_s").val();
            stringArray[26] = $("#Imagen3_s").val();
            stringArray[27] = $("#Imagen4_s").val();
            stringArray[28] = $("#Imagen5_s").val();
            stringArray[29] = $("#Archivo_s1").val();
            stringArray[30] = $("#Archivo_s2").val();
            stringArray[31] = $("#Archivo_s3").val();
            // Construir objeto JSON
            var AdmoEMH = {
                TipoElemento: stringArray[0],
                NombreElemento: stringArray[1],
                CodigoElemento: stringArray[2],
                Marca: stringArray[3],
                Modelo: stringArray[4],
                Fabricante: stringArray[5],
                Fecha_Fab: stringArray[6],
                HorasVida: stringArray[7],
                Ubicacion: stringArray[8],
                Caracteristicas: stringArray[9],
                NombreResponsable: stringArray[10],
                CargoResponsable: stringArray[11],
                ArchivoImagen1: stringArray[16],
                ArchivoImagen2: stringArray[17],
                ArchivoImagen3: stringArray[18],
                ArchivoImagen4: stringArray[19],
                ArchivoImagen5: stringArray[20],
                NombreArchivo1: stringArray[21],
                NombreArchivo2: stringArray[22],
                NombreArchivo3: stringArray[23],
                ArchivoImagen1_download: stringArray[24],
                ArchivoImagen2_download: stringArray[25],
                ArchivoImagen3_download: stringArray[26],
                ArchivoImagen4_download: stringArray[27],
                ArchivoImagen5_download: stringArray[28],
                NombreArchivo1_download: stringArray[29],
                NombreArchivo2_download: stringArray[30],
                NombreArchivo3_download: stringArray[31]
            };
            PopupPosition();
            $.ajax({
                type: "POST",
                url: '/AdmoEMH/GuardarNuevoEHM',
                traditional: true,
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({ GuardarAdmoEMH: AdmoEMH, ListaPeligro: ListaPeligros }),
                success: function (data) {
                    OcultarPopupposition();
                    $("#val-tipo").css("display", "none");
                    $("#val-tipo").text('');
                    $("#val-NombreElemento").css("display", "none");
                    $("#val-NombreElemento").text('');
                    $("#val-CodigoElemento").css("display", "none");
                    $("#val-CodigoElemento").text('');
                    $("#val-Marca").css("display", "none");
                    $("#val-Marca").text('');
                    $("#val-Modelo").css("display", "none");
                    $("#val-Modelo").text('');
                    $("#val-Fabricante").css("display", "none");
                    $("#val-Fabricante").text('');
                    $("#val-Fecha_Fab").css("display", "none");
                    $("#val-Fecha_Fab").text('');
                    $("#val-HorasVida").css("display", "none");
                    $("#val-HorasVida").text('');
                    $("#val-Ubicacion").css("display", "none");
                    $("#val-Ubicacion").text('');
                    $("#val-Caracteristicas").css("display", "none");
                    $("#val-Caracteristicas").text('');

                    $("#val-NombreResponsable").css("display", "none");
                    $("#val-NombreResponsable").text('');
                    $("#val-CargoResponsable").css("display", "none");
                    $("#val-CargoResponsable").text('');
                    if (data.Probar == false) {
                        if (data.Estado == "El usuario no ha iniciado sesión en el sistema") {

                            location.reload(true);
                        }
                        if (data.Validacion[0] == true) {
                            $("#val-tipo").css("display", "block");
                            $("#val-tipo").text(data.ValidacionStr[0]);
                        }
                        if (data.Validacion[1] == true) {
                            $("#val-NombreElemento").css("display", "block");
                            $("#val-NombreElemento").text(data.ValidacionStr[1]);
                        }
                        if (data.Validacion[2] == true) {
                            $("#val-CodigoElemento").css("display", "block");
                            $("#val-CodigoElemento").text(data.ValidacionStr[2]);
                        }
                        if (data.Validacion[3] == true) {
                            $("#val-Marca").css("display", "block");
                            $("#val-Marca").text(data.ValidacionStr[3]);
                        }
                        if (data.Validacion[4] == true) {
                            $("#val-Modelo").css("display", "block");
                            $("#val-Modelo").text(data.ValidacionStr[4]);
                        }
                        if (data.Validacion[5] == true) {
                            $("#val-Fabricante").css("display", "block");
                            $("#val-Fabricante").text(data.ValidacionStr[5]);
                        }
                        if (data.Validacion[6] == true) {
                            $("#val-Fecha_Fab").css("display", "block");
                            $("#val-Fecha_Fab").text(data.ValidacionStr[6]);
                        }
                        if (data.Validacion[7] == true) {
                            $("#val-HorasVida").css("display", "block");
                            $("#val-HorasVida").text(data.ValidacionStr[7]);
                        }
                        if (data.Validacion[8] == true) {
                            $("#val-Ubicacion").css("display", "block");
                            $("#val-Ubicacion").text(data.ValidacionStr[8]);
                        }
                        if (data.Validacion[9] == true) {
                            $("#val-Caracteristicas").css("display", "block");
                            $("#val-Caracteristicas").text(data.ValidacionStr[9]);
                        }
                        if (data.Validacion[13] == true) {
                            $("#val-NombreResponsable").css("display", "block");
                            $("#val-NombreResponsable").text(data.ValidacionStr[13]);
                        }
                        if (data.Validacion[14] == true) {
                            $("#val-CargoResponsable").css("display", "block");
                            $("#val-CargoResponsable").text(data.ValidacionStr[14]);
                        }
                        swal("Estimado Usuario", data.Estado,"warning");
                    }
                    else {
                        swal({
                            title: "Estimado Usuario",
                            text: "El equipo, herramienta o máquina se ha guardado exitosamente",
                            type: "success",
                            confirmButtonColor: "#DD6B55",
                            confirmButtonText: "OK",
                            closeOnConfirm: false
                        },
                    function () {
                        window.location.href = "/AdmoEMH/ConsultarEHM"
                    });
                    }
                },
                error: function (data) {
                    OcultarPopupposition();
                }
            });
        }
    }
    //Cargar Peligros
    $(function () {
        $("#btnClasificacion").bind("click", function () {
            var onEventLaunchCargar = new postCargar();
            onEventLaunchCargar.launchCargar();

        });
    });
    function postCargar() {
        this.launchCargar = function () {
            $("#Grid1 > tbody").html("");
            var stringArray = new Array();
            stringArray[0] = $('input:radio[name="Tipo"]:checked').val();
            stringArray[1] = $("#NombreElemento").val();
            stringArray[2] = $("#CodigoElemento").val();
            stringArray[3] = $("#Marca").val();
            stringArray[4] = $("#Modelo").val();
            stringArray[5] = $("#Fabricante").val();
            stringArray[6] = $("#Fecha_Fab").val();
            stringArray[7] = $("#HorasVida").val();
            stringArray[8] = $("#Ubicacion").val();
            stringArray[9] = $("#Caracteristicas").val();
            stringArray[10] = $("#NombreResponsable").val();
            stringArray[11] = $("#CargoResponsable").val();
            stringArray[12] = "";
            stringArray[13] = "";
            stringArray[14] = "";
            stringArray[15] = $("#Pk_Id_Clas_Peligro").val();
            // Construir objeto JSON
            var EDAdmoEMH = {
                TipoElemento: stringArray[0],
                NombreElemento: stringArray[1],
                CodigoElemento: stringArray[2],
                Marca: stringArray[3],
                Modelo: stringArray[4],
                Fabricante: stringArray[5],
                Fecha_Fab: stringArray[6],
                HorasVida: stringArray[7],
                Ubicacion: stringArray[8],
                Caracteristicas: stringArray[9],
                NombreResponsable: stringArray[10],
                CargoResponsable: stringArray[11],
                FK_Clasificacion_De_Peligro: stringArray[15]
            };
            PopupPosition();
            $.ajax({
                type: "POST",
                url: '/AdmoEMH/GenerarPeligros',
                traditional: true,
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(EDAdmoEMH),
                success: function (data) {
                    OcultarPopupposition();


                    var tableBody = $('#Grid1 > tbody');
                    tableBody.empty();
                    $.each(data.Model, function (i, item) {
                        var html = "<tr><td style=\"border-right: 2px solid lightslategray; vertical-align:middle; text-align:justify\">" + item.Eliminacion + "</td>";
                        html += "<td style=\"border-right: 2px solid lightslategray; vertical-align:middle; text-align:justify\">" + item.Sustitucion + "</td>";
                        html += "<td style=\"border-right: 2px solid lightslategray; vertical-align:middle; text-align:justify\">" + item.Controles_De_Ingenieria + "</td>";
                        html += "<td style=\"border-right: 2px solid lightslategray; vertical-align:middle; text-align:justify\">" + item.Controles_Administrativos + "</td>";
                        html += "<td style=\"border-right: 2px solid lightslategray; vertical-align:middle; text-align:justify\">" + item.Elementos_De_Proteccion + "</td>";
                        $("#Grid1 tbody").append(html);

                    });
                },
                error: function (data) {
                    OcultarPopupposition();
                }
            });
        }
    }
    //Buscar Caracteristica Peligro
    function jsFunction() {
        var myselect = document.getElementById("Pk_Id_Clas_Peligro");
        var idselect = myselect.options[myselect.selectedIndex].value;       
        PopupPosition();
                $.ajax({
                    type: "POST",
                    url: "/AdmoEMH/BuscarCaracteristicasPeligro",
                    data: '{IdPeligro: "' + idselect + '" }',
                    contentType: "application/json; charset=utf-8",
                    cache: false,
                    dataType: "json",
                    success: function (data) {
                        OcultarPopupposition();
                        if (data.Probar == false) {
                            $("textarea#Caracteristicas1").val('');
                        }
                        else {
                            $("textarea#Caracteristicas1").val(data.Resultado);
                        }
                        var onEventLaunchCargar = new postCargar();
                        onEventLaunchCargar.launchCargar();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        OcultarPopupposition();
                    }
                });
    }
    //Nombre Actividad Inspeccion
    $(document).on('keyup', '#NombreElemento', function () {
        var valorAct = "Inspección " + $("#NombreElemento").val();
        $("#Actividad").val(valorAct);
    });
    //Mostrar Imagenes en Modal
    $(function () {
        $("#img-act1").click(function () {
            var stringArray = new Array();
            stringArray[0] = $("#Imagen1").val();
            var postData = { values: stringArray };
            PopupPosition();
            $.ajax({
                type: "POST",
                url: "/AdmoEMH/CargarImagenMostrar",
                data: postData,
                dataType: "json",
                traditional: true,
                success: function (data) {
                    OcultarPopupposition();
                    if (data.Probar==true) {
                        $("#myImg").attr("src", data.resultado);
                        var modal = document.getElementById('myModal');
                        var img = document.getElementById('myImg');
                        var botonVer = document.getElementById('ImagenAnalisis');
                        var modalImg = document.getElementById("img01");
                        var captionText = document.getElementById("caption");
                        modal.style.display = "block";
                        modalImg.src = data.resultado;


                    }
                    else {
                            
                    }
                },
                error: function (data) {
                    OcultarPopupposition();
                }
            });


        });
        $("#img-act2").click(function () {
            var stringArray = new Array();
            stringArray[0] = $("#Imagen2").val();
            var postData = { values: stringArray };
            PopupPosition();
            $.ajax({
                type: "POST",
                url: "/AdmoEMH/CargarImagenMostrar",
                data: postData,
                dataType: "json",
                traditional: true,
                success: function (data) {
                    OcultarPopupposition();
                    if (data.Probar == true) {
                        $("#myImg").attr("src", data.resultado);
                        var modal = document.getElementById('myModal');
                        var img = document.getElementById('myImg');
                        var botonVer = document.getElementById('ImagenAnalisis');
                        var modalImg = document.getElementById("img01");
                        var captionText = document.getElementById("caption");
                        modal.style.display = "block";
                        modalImg.src = data.resultado;


                    }
                    else {

                    }
                },
                error: function (data) {
                    OcultarPopupposition();
                }
            });


        });
        $("#img-act3").click(function () {
            var stringArray = new Array();
            stringArray[0] = $("#Imagen3").val();
            var postData = { values: stringArray };
            PopupPosition();
            $.ajax({
                type: "POST",
                url: "/AdmoEMH/CargarImagenMostrar",
                data: postData,
                dataType: "json",
                traditional: true,
                success: function (data) {
                    OcultarPopupposition();
                    if (data.Probar == true) {
                        $("#myImg").attr("src", data.resultado);
                        var modal = document.getElementById('myModal');
                        var img = document.getElementById('myImg');
                        var botonVer = document.getElementById('ImagenAnalisis');
                        var modalImg = document.getElementById("img01");
                        var captionText = document.getElementById("caption");
                        modal.style.display = "block";
                        modalImg.src = data.resultado;


                    }
                    else {

                    }
                },
                error: function (data) {
                    OcultarPopupposition();
                }
            });


        });
        $("#img-act4").click(function () {
            var stringArray = new Array();
            stringArray[0] = $("#Imagen4").val();
            var postData = { values: stringArray };
            PopupPosition();
            $.ajax({
                type: "POST",
                url: "/AdmoEMH/CargarImagenMostrar",
                data: postData,
                dataType: "json",
                traditional: true,
                success: function (data) {
                    OcultarPopupposition();
                    if (data.Probar == true) {
                        $("#myImg").attr("src", data.resultado);
                        var modal = document.getElementById('myModal');
                        var img = document.getElementById('myImg');
                        var botonVer = document.getElementById('ImagenAnalisis');
                        var modalImg = document.getElementById("img01");
                        var captionText = document.getElementById("caption");
                        modal.style.display = "block";
                        modalImg.src = data.resultado;


                    }
                    else {

                    }
                },
                error: function (data) {
                    OcultarPopupposition();
                }
            });


        });
        $("#img-act5").click(function () {
            var stringArray = new Array();
            stringArray[0] = $("#Imagen5").val();
            var postData = { values: stringArray };
            PopupPosition();
            $.ajax({
                type: "POST",
                url: "/AdmoEMH/CargarImagenMostrar",
                data: postData,
                dataType: "json",
                traditional: true,
                success: function (data) {
                    OcultarPopupposition();
                    if (data.Probar == true) {
                        $("#myImg").attr("src", data.resultado);
                        var modal = document.getElementById('myModal');
                        var img = document.getElementById('myImg');
                        var botonVer = document.getElementById('ImagenAnalisis');
                        var modalImg = document.getElementById("img01");
                        var captionText = document.getElementById("caption");
                        modal.style.display = "block";
                        modalImg.src = data.resultado;


                    }
                    else {

                    }
                },
                error: function (data) {
                    OcultarPopupposition();
                }
            });


        });
    });
    //Funciones del Modal
    $(document).ready(function () {
        var modal = document.getElementById('myModal');
        var span = document.getElementById("close");
        span.onclick = function () {
            modal.style.display = "none";
        }
        document.addEventListener('keyup', function (e) {
            if (e.keyCode == 27) {
                modal.style.display = "none";
            }
        });
    });

    ///NUEVO
    //Buscar clasificacion peligro por TipoPeligro
    function jsFunction_121() {
        var myselect = document.getElementById("Pk_Id_Tipo_Peligro");
        var idselect = myselect.options[myselect.selectedIndex].value;
        var tableBody = $('#Grid4 > tbody');
        tableBody.empty();
        PopupPosition();
        $.ajax({
            type: "POST",
            url: "/AdmoEMH/ConsultarClasPorTipo",
            data: '{IdTipoPeligro: "' + idselect + '" }',
            contentType: "application/json; charset=utf-8",
            cache: false,
            dataType: "json",
            success: function (data) {
                OcultarPopupposition();
                if (data.Probar == false) {
                    var options = $("#Pk_Id_Clasif_Peligro");
                    options.empty();
                    options.append($("<option />").val(null).text("-- Seleccione una Descripción --"));
                }
                else {
                    var options = $("#Pk_Id_Clasif_Peligro");
                    options.empty();
                    options.append($("<option />").val(null).text("-- Seleccione una Descripción --"));
                    var cont = 0;
                    $.each(data.ListaValor, function () {
                        options.append($("<option />").val(data.ListaValor[cont]).text(data.ListaTexto[cont]));
                        cont = cont + 1;
                    });
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                OcultarPopupposition();
            }
        });
    }
    //Buscar Peligros por Clasificacion
    function jsFunction_122() {
        var myselect = document.getElementById("Pk_Id_Clasif_Peligro");
        var idselect = myselect.options[myselect.selectedIndex].value;
        PopupPosition();
        var onEventLaunchCargar1 = new postCargar1();
        onEventLaunchCargar1.launchCargar1();
    }
    $(function () {
        $("#btnClasificacion1").bind("click", function () {
            var onEventLaunchCargar1 = new postCargar1();
            onEventLaunchCargar1.launchCargar1();

        });
    });
    function postCargar1() {
        this.launchCargar1 = function () {
            var IdClas = $("#Pk_Id_Clasif_Peligro option:selected").val();
            var PeligrosSave = new Array();
            var PeligrostoSave = new Array();
            $('#Grid3 tbody').find('tr').each(function () {
                var row = $(this);
                PeligrosSave.push(row.attr('name'));
            });
            var i;
            for (i = 0; i < PeligrosSave.length; ++i) {
                PeligrostoSave.push(PeligrosSave[i]);
            }
            $("#Grid4 > tbody").html("");
            PopupPosition();
            $.ajax({
                type: "POST",
                url: '/AdmoEMH/GenerarPeligros1',
                data: '{IdClasificacion: "' + IdClas + '" }',
                contentType: "application/json; charset=utf-8",
                cache: false,
                dataType: "json",
                success: function (data) {
                    OcultarPopupposition();
                    var tableBody = $('#Grid4 > tbody');
                    tableBody.empty();
                    var cont = 0;
                    $.each(data.Model, function (i, item) {
                        var probar1 = true;
                        for (i1 = 0; i1 < PeligrostoSave.length; ++i1) {
                            if (item.PK_Peligro == PeligrostoSave[i1]) {
                                probar1 = false;
                            }
                        }
                        if (probar1) {
                            var html = "<tr><td style=\"border-right: 2px solid lightslategray; vertical-align:middle; text-align:justify\">" + item.Lugar + "</td>";
                            html += "<td style=\"border-right: 2px solid lightslategray; vertical-align:middle; text-align:justify\">" + item.Actividad + "</td>";
                            html += "<td style=\"border-right: 2px solid lightslategray; vertical-align:middle; text-align:justify\">" + item.Tarea + "</td>";
                            html += "<td style=\"border-right: 2px solid lightslategray; vertical-align:middle; text-align:justify\">" + data.ListaProceso[cont].Descripcion + "</td>";
                            html += "<td style=\"border-right: 2px solid lightslategray; vertical-align:middle; text-align:justify\">" + data.ListaSedes[cont].NombreSede + "</td>";
                            html += "<td style=\"border-right: 2px solid lightslategray; vertical-align:middle; text-align:center\">" + "<input type=\"checkbox\" name=\"vehicle\" value=\"" + item.PK_Peligro + "\">" + "</td>";
                            $("#Grid4 tbody").append(html);
                        }
                        cont = cont + 1;
                    });
                },
                error: function (data) {
                    OcultarPopupposition();
                }
            });
        }
    }
    //Agregar Peligros a la lista de Peligros seleccionados
    $(function () {
        $("#AgregarPeligro").bind("click", function () {
            var onEventLaunchCargar2 = new postCargar2();
            onEventLaunchCargar2.launchCargar2();

        });
    });
    function postCargar2() {
        this.launchCargar2 = function () {
            var PeligrosSave = new Array();
            var PeligrostoSave = new Array();
            var PeligrosNew = new Array();
            $('#Grid3 tbody').find('tr').each(function () {
                var row = $(this);
                PeligrostoSave.push(row.attr('name'));
            });
            $('#Grid4 tbody').find('tr').each(function () {
                var row1 = $(this);
                var check = row1.find('input[type="checkbox"]');
                if (check.is(':checked')) {
                    var idTr = check.attr('value');
                    PeligrosNew.push(idTr);
                }
            });
            var i;
            var i1;
            for (i = 0; i < PeligrosNew.length; ++i) {
                var Texto = PeligrosNew[i];
                var Prueba = true;
                for (var i1 = 0; i1 < PeligrostoSave.length; i1++) {
                    if (PeligrostoSave[i1] == Texto) {
                        Prueba = false;
                    }
                }
                if (Prueba) {
                    PeligrosSave.push(PeligrosNew[i]);
                }
            }
            PopupPosition();
            var postData = { values: PeligrosSave };
            $.ajax({
                type: "POST",
                url: '/AdmoEMH/GenerarPeligros2',
                traditional: true,
                dataType: "json",
                data: postData,
                success: function (data) {
                    OcultarPopupposition();


                    var tableBody = $('#Grid3 > tbody');
                    var cont = 0;
                    $.each(data.Model, function (i, item) {
                        var html = "<tr class=\"fila_grid3\" name=\"" + item.PK_Peligro + "\">";
                        html += "<td style=\"border-right: 2px solid lightslategray; vertical-align:middle; text-align:justify\">" + data.ListaProceso[cont].Descripcion + "</td>";
                        html += "<td style=\"border-right: 2px solid lightslategray; vertical-align:middle; text-align:justify\">" + data.ListaSedes[cont].NombreSede + "</td>";
                        html += "<td style=\"border-right: 2px solid lightslategray; vertical-align:middle; text-align:justify\">" + item.Lugar + "</td>";
                        html += "<td style=\"border-right: 2px solid lightslategray; vertical-align:middle; text-align:justify\">" + item.Actividad + "</td>";
                        html += "<td style=\"border-right: 2px solid lightslategray; vertical-align:middle; text-align:justify\">" + item.Tarea + "</td>";
                        html += "<td style=\"border-right: 2px solid lightslategray; vertical-align:middle; text-align:justify\">" + data.ListaClasPeligro[cont].DescripcionClaseDePeligro + "</td>";

                        html += "<td style=\"border-right: 2px solid lightslategray; vertical-align:middle; text-align:justify\">" + item.Eliminacion + "</td>";
                        html += "<td style=\"border-right: 2px solid lightslategray; vertical-align:middle; text-align:justify\">" + item.Sustitucion + "</td>";
                        html += "<td style=\"border-right: 2px solid lightslategray; vertical-align:middle; text-align:justify\">" + item.Controles_De_Ingenieria + "</td>";
                        html += "<td style=\"border-right: 2px solid lightslategray; vertical-align:middle; text-align:justify\">" + item.Controles_Administrativos + "</td>";
                        html += "<td style=\"border-right: 2px solid lightslategray; vertical-align:middle; text-align:justify\">" + item.Elementos_De_Proteccion + "</td>";
                        html += "<td style=\"border-right: 2px solid lightslategray; vertical-align:middle; text-align:center\">" + "<a name=\"" + item.PK_Peligro + "\"  class=\"btn btn-search btn-md btnEliminarlista\" title=\"Eliminar Peligro\"><span class=\"glyphicon glyphicon-erase\"></span></a>" + "</td>";
                        $("#Grid3 tbody").append(html);
                        cont = cont + 1;
                    });
                    var onEventLaunchCargar1 = new postCargar1();
                    onEventLaunchCargar1.launchCargar1();
                },
                error: function (data) {
                    OcultarPopupposition();
                }
            });
        }
    }
    //Eliminar Peligro de lista a guardar
    $(document).on("click", ".btnEliminarlista", function () {
        var Id_Elm = $(this).attr('name');
        var tableBody = $("#Grid3 tbody");
        swal({
            title: "Estimado Usuario",
            text: "Esta seguro(a) que desea eliminar este elemento de la lista?",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Si",
            cancelButtonText: "No",
            type: "warning",
            closeOnConfirm: false
        },
        function () {
            var ElementoEliminar;
            var cont = 0;
            tableBody.find('tr').each(function () {
                var row = $(this);
                if (row.attr('name') == Id_Elm) {
                    row.remove();
                    var onEventLaunchCargar1 = new postCargar1();
                    onEventLaunchCargar1.launchCargar1();
                    cont = cont + 1;
                }
            });
            if (cont > 0) {
                swal("Estimado Usuario", "El peligro se ha eliminado de la lista", "success");
            }
            else {
                swal("Estimado Usuario", "El peligro no se ha eliminado, por favor vuelva a intentar", "warning");
            }

        });
    });

    //Funcion horas de vida
    $(document).ready(function () {
        var textbox = '#HorasVida_n';
        var hidden = '#HorasVida';
        $(textbox).keyup(function () {
            var num = $(textbox).val();
            var comma = /,/g;
            num = num.replace(comma, '');
            $(hidden).val(num);
            var numCommas = addCommas(num);
            numCommas=numCommas.replace(".", "");
            $(textbox).val(numCommas);
        });
    });
    function addCommas(nStr) {
        nStr += '';
        var comma = /,/g;
        nStr = nStr.replace(comma, '');
        x = nStr.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
        }
        return x1 + x2;
    }
    $(document).ready(function () {
        $("#HorasVida_n").keydown(function (e) {
            // Allow: backspace, delete, tab, escape, enter and .
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                // Allow: Ctrl/cmd+A
                (e.keyCode == 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                // Allow: Ctrl/cmd+C
                (e.keyCode == 67 && (e.ctrlKey === true || e.metaKey === true)) ||
                // Allow: Ctrl/cmd+X
                (e.keyCode == 88 && (e.ctrlKey === true || e.metaKey === true)) ||
                // Allow: home, end, left, right
                (e.keyCode >= 35 && e.keyCode <= 39)) {
                // let it happen, don't do anything
                return;
            }
            // Ensure that it is a number and stop the keypress
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        });
    });

    // buscar informacion responsable
    $(document).ready(function () {
        $("#Cedula").on('keyup', function () {
            $("#msj_novedad").text("");
            $("#div_novedad").removeClass("alert alert-info alert-warning alert-danger alert-success");
            if ($(this).val().length > 5)
            {
                var cedulaval = $(this).val();
                PopupPosition();
                $.ajax({
                    type: "POST",
                    url: "/AdmoEMH/BuscarPersonaDocumentoCargo",
                    data: '{documento: "' + cedulaval + '" }',
                    contentType: "application/json; charset=utf-8",
                    cache: false,
                    dataType: "json",
                    success: function (response) {
                        OcultarPopupposition();
                        $("#NombreResponsable").val(response.resultado[0]);
                        $("#CargoResponsable").val(response.resultado[1]);
                        if (response.probar == false) {

                            $("#msj_novedad").text("Persona no encontrada");
                            $("#div_novedad").removeClass("alert alert-info alert-warning alert-danger alert-success").addClass("alert alert-warning");
                        }
                        else {
                            $("#msj_novedad").text("Persona encontrada");
                            $("#div_novedad").removeClass("alert alert-info alert-warning alert-danger alert-success").addClass("alert alert-success");
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        OcultarPopupposition();
                        var value = "";
                        $("#NombreResponsable").val(value);
                        $("#CargoResponsable").val(value);

                    }
                });
            }
        });
    });
</script>
<div class="panel panel-default std-panel-body">
    <div class="panel-heading panel-heading-custom">HOJA DE VIDA MÁQUINAS, EQUIPOS O HERRAMIENTAS</div>
    <div class="panel-body">

        <div align="right">
            <div id="ayuda" style="text-align:right">
                <a href="" data-toggle="modal" id="elIDdelModal" data-target="#@string.Format("modalAyuda")"
                   title="Ayuda" class="btn btn-ayuda btn-md">
                    <i class="glyphicon glyphicon-question-sign"></i>
                </a>
                <div id="@string.Format("modalAyuda")" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header encabezado" style="background-color:transparent; border-bottom:none">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                                <h4 class="modal-title title">Ayuda / Nueva Hoja de Vida</h4>
                            </div>
                            <div class="modal-body " style="color:black">
                                <p style="margin-bottom:20px;line-height: 200%;text-align:justify"><strong>*</strong> Indica que el campo es obligatorio</p>
                                <p style="margin-bottom:20px;line-height: 200%;text-align:justify">Presione <button type="button" class="boton botonactive" style="cursor:default;">GUARDAR HOJA DE VIDA</button> Para guardar la hoja de vida del equipo, máquina o herramienta</p>
                                <p style="margin-bottom:20px;line-height: 200%;text-align:justify">Presione <button type="button" class="boton botoncancel" style="cursor:default;">CANCELAR</button> Para regresar a la consulta de equipos, máquinas o herramienta</p>
                                <p style="margin-bottom:20px;line-height: 200%;text-align:justify">Presione <i class="glyphicon glyphicon-trash" style="color: #FF7500; border: 1px solid #ff7500; padding: 8px 8px; width: auto"></i> para eliminar una imagen adjunta</p>
                                <p style="margin-bottom:20px;line-height: 200%;text-align:justify">Presione <i class="glyphicon glyphicon-erase" style="color: #FF7500; border: 1px solid #ff7500; padding: 8px 8px; width: auto"></i> para eliminar un archivo adjunto o para eliminar un peligro en la sección 'Riesgos Asociados'</p>
                                <p style="margin-bottom:20px;line-height: 200%;text-align:justify"><strong>Los archivos adjuntos pueden ser máximo hasta de 4MB</strong> </p>

                                <p style="margin-bottom:20px;line-height: 200%;text-align:justify"><u><strong>Agregar/Eliminar Un Riesgo o Peligro Asociado:</strong></u></p>
                                <p style="margin-bottom:20px;line-height: 200%;text-align:justify"><u><strong>Primer Paso:</strong></u> Verifique los peligros que se han identificado en la matriz de peligros en el módulo PLANIFIACIÓN -> IDENTIFICACIÓN DE PELIGROS</p>
                                <p style="margin-bottom:20px;line-height: 200%;text-align:justify"><u><strong>Segundo Paso:</strong></u> Seleccione un item de la lista desplegable 'Clasificación de Peligro', esto modificará la lista 'Descripción de Peligro'</p>
                                <p style="margin-bottom:20px;line-height: 200%;text-align:justify"><u><strong>Tercer Paso:</strong></u> Seleccione un item de la lista desplegable 'Descripción de Peligro', para ver en la tabla el lista de peligros disponibles para agregar</p>
                                <p style="margin-bottom:20px;line-height: 200%;text-align:justify"><u><strong>Cuarto Paso:</strong></u> Seleccione de la lista de peligros y marque los que considere que estan asociados a la maquinaria, equipo o herramienta, luego haga click en <button type="button" class="boton botonactive" style="cursor:default;">AGREGAR PELIGRO(S)</button>, esto moverá el peligro deseado a una nueva lista que será la que se guardará junto con la hoja de vida</p>
                                <p style="margin-bottom:20px;line-height: 200%;text-align:justify"><u><strong>Quinto Paso:</strong></u> Si desea eliminar un peligro de la lista haga click en <i class="glyphicon glyphicon-erase" style="color: #FF7500; border: 1px solid #ff7500; padding: 8px 8px; width: auto"></i></p> 
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="boton botoncancel" data-dismiss="modal">Salir</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group row internal-panel-body">
            <div class="col-sm-12">
                <label class="radio-inline remove-left-padding">
                    <b>*Tipo de Elemento</b>
                </label>
                <label class="radio-inline">

                    @Html.RadioButtonFor(m => m.TipoElemento, "null", new { id = "Tipo", type = "hidden" })
                    @Html.RadioButtonFor(m => m.TipoElemento, "Máquina", new { id = "Tipo" })
                    Máquina
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.TipoElemento, "Equipo", new { id = "Tipo" })
                    Equipo
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.TipoElemento, "Herramienta", new { id = "Tipo" })
                    Herramienta
                </label>
                <span id="val-tipo" class="text-danger field-validation-error val-message" style="display:none;"></span>
            </div>

        </div>
        <div class="internal-panel add-bottom-margin-05em">
            <div class="internal-panel-header panel-heading">
                <h4>Información del Elemento</h4>
            </div>
            <div class="internal-panel-body add-top-margin-05em">
                <div class="form-group row remove-bottom-margin">
                    <div class="col-sm-12">
                        <label>*Nombre del Elemento</label>
                        @Html.EditorFor(m => m.NombreElemento, new { htmlAttributes = new { @class = "form-control form-width-100" } })
                        <span id="val-NombreElemento" class="text-danger field-validation-error val-message" style="display:none;"></span>
                    </div>
                    <div class="col-sm-12">
                        <label>*Código del Elemento</label>
                        @Html.EditorFor(m => m.CodigoElemento, new { htmlAttributes = new { @class = "form-control form-width-100" } })
                        <span id="val-CodigoElemento" class="text-danger field-validation-error val-message" style="display:none;"></span>
                    </div>
                    <div class="col-sm-12">
                        <label>*Marca</label>
                        @Html.EditorFor(m => m.Marca, new { htmlAttributes = new { @class = "form-control form-width-100" } })
                        <span id="val-Marca" class="text-danger field-validation-error val-message" style="display:none;"></span>
                    </div>
                    <div class="col-sm-12">
                        <label>*Modelo</label>
                        @Html.EditorFor(m => m.Modelo, new { htmlAttributes = new { @class = "form-control form-width-100" } })
                        <span id="val-Modelo" class="text-danger field-validation-error val-message" style="display:none;"></span>
                    </div>
                    <div class="col-sm-12">
                        <label>*Fabricante</label>
                        @Html.EditorFor(m => m.Fabricante, new { htmlAttributes = new { @class = "form-control form-width-100" } })
                        <span id="val-Fabricante" class="text-danger field-validation-error val-message" style="display:none;"></span>
                    </div>
                    <div class="col-sm-6">
                        <label>*Fecha de Fabricación</label>
                        @Html.EditorFor(m => m.Fecha_Fab, new { htmlAttributes = new { @class = "form-control form-width-100" } })
                        <span id="val-Fecha_Fab" class="text-danger field-validation-error val-message" style="display:none;"></span>
                    </div>
                    <div class="col-sm-6">
                        <label>*Horas de Vida Util</label>
                        @Html.HiddenFor(m => m.HorasVida, htmlAttributes: new { @class = "form-control form-width-100" } )
                        @Html.TextBox("HorasVida_n", null, new { @class = "form-control form-width-100" })
                        <span id="val-HorasVida" class="text-danger field-validation-error val-message" style="display:none;"></span>
                    </div>
                    <div class="col-sm-12">
                        <label>*Ubicación</label>
                        @Html.EditorFor(m => m.Ubicacion, new { htmlAttributes = new { @class = "form-control form-width-100" } })
                        <span id="val-Ubicacion" class="text-danger field-validation-error val-message" style="display:none;"></span>
                    </div>
                    <div class="col-sm-12">
                        <label>*Características</label>
                        @Html.TextAreaFor(m => m.Caracteristicas, htmlAttributes: new { @class = "form-control form-width-100", rows = 5, maxlength = 2000 })
                        <span id="val-Caracteristicas" class="text-danger field-validation-error val-message" style="display:none;"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="internal-panel add-bottom-margin-05em">
            <div class="internal-panel-header panel-heading">
                <h4>Imagenes y Manuales(Agregue máximo hasta 5 imagenes y 3 archivos de máximo 4MB cada uno)</h4>
            </div>
            <div class="internal-panel-body add-top-margin-05em">
                @Html.Hidden("Imagen1", null)
                @Html.Hidden("Imagen2", null)
                @Html.Hidden("Imagen3", null)
                @Html.Hidden("Imagen4", null)
                @Html.Hidden("Imagen5", null)

                @Html.Hidden("Imagen1_s", null)
                @Html.Hidden("Imagen2_s", null)
                @Html.Hidden("Imagen3_s", null)
                @Html.Hidden("Imagen4_s", null)
                @Html.Hidden("Imagen5_s", null)

                @Html.Hidden("Archivo1", null)
                @Html.Hidden("Archivo2", null)
                @Html.Hidden("Archivo3", null)

                @Html.Hidden("Archivo_s1", null)
                @Html.Hidden("Archivo_s2", null)
                @Html.Hidden("Archivo_s3", null)

                <div class="form-group row remove-bottom-margin">

                    <div class="col-xs-12 col-sm-12 col-md-12 add-top-margin-05em">
                        <div class="form-group">
                            <div class="col-sm-12"><label for="File1">Adjuntar Imagenes</label></div>
                            <div class="col-sm-6"><input type="file" name="File1" class="btn btn-default btn-sm form-control form-width-100 input-moz-fix" id="input-img" /></div>
                            <div class="col-sm-6"><button id="btn-adj-img" class="boton botonactive">ADJUNTAR</button></div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 add-top-margin-05em">
                        <div class="form-group">
                            <div class="col-sm-12"><h6>Estimado usuario, recuerde respetar los derechos de autor y propiedad intelectual al intentar subir una imagen</h6></div>
                        </div>
                    </div>

                    <div class="form-group col-xs-6 col-sm-4 col-md-2" id="ContImg1" style="display:none" >
                        <img id="img-act1" class="firma-EHM-estilo" src="" alt="" style="cursor:pointer;"/>
                        <a id="Eliminar-img1"  class="btn btn-sm btn-positiva btnEliminarArchivo add-top-margin-05em" title="Eliminar Imagen">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </div>
                    <div class="form-group col-xs-6 col-sm-4 col-md-2" id="ContImg2" style="display:none">
                        <img id="img-act2" class="firma-EHM-estilo" src="" alt="" style="cursor:pointer" />
                        <a id="Eliminar-img2"  class="btn btn-sm btn-positiva btnEliminarArchivo add-top-margin-05em" title="Eliminar Imagen">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </div>
                    <div class="form-group col-xs-6 col-sm-4 col-md-2" id="ContImg3" style="display:none">
                        <img id="img-act3" class="firma-EHM-estilo" src="" alt="" style="cursor:pointer" />
                        <a id="Eliminar-img3"  class="btn btn-sm btn-positiva btnEliminarArchivo add-top-margin-05em" title="Eliminar Imagen">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </div>
                    <div class="form-group col-xs-6 col-sm-4 col-md-2" id="ContImg4" style="display:none">
                        <img id="img-act4" class="firma-EHM-estilo" src="" alt="" style="cursor:pointer"/>
                        <a id="Eliminar-img4"  class="btn btn-sm btn-positiva btnEliminarArchivo add-top-margin-05em" title="Eliminar Imagen">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </div>
                    <div class="form-group col-xs-12 col-sm-4 col-md-2" id="ContImg5" style="display:none">
                        <img id="img-act5" class="firma-EHM-estilo" src="" alt="" style="cursor:pointer" />
                        <a id="Eliminar-img5"  class="btn btn-sm btn-positiva btnEliminarArchivo add-top-margin-05em" title="Eliminar Imagen">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 add-top-margin-05em add-bottom-margin-05em">
                        <div class="form-group">                           
                            <div class="col-sm-12"><label for="File1">Adjuntar Archivos</label></div>   
                            <div class="col-sm-6"><input type="file" name="File1" class="btn btn-default btn-sm form-control form-width-100 input-moz-fix" id="input-file" /></div>
                            <div class="col-sm-6"><button id="btn-add-file" class="boton botonactive">ADJUNTAR</button></div>
                        </div>
                    </div>
                    <div class="form-group add-side-padding col-sm-12" style="overflow:auto">
                        <div class="col-sm-12 table-responsive">
                            <table class="table table-responsive table-bordered" style="border: 2px solid lightslategray; display:none;" id="Grid2">
                                <thead>
                                    <tr class="titulos_tabla">
                                        <th style="border-right: 2px solid lightslategray; border-bottom: 2px solid lightslategray; text-align:center; width:80%">
                                            <span>Nombre del Documento</span>
                                        </th>
                                        <th style="border-bottom: 2px solid lightslategray; text-align:center">
                                            <span>Acciones</span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="TbodyArchvivos"></tbody>
                            </table>
                        </div>

                        <div class="col-sm-12 form-group">
                            <div id="div_novedad_archivo">
                                <span id="msj_novedad_archivo"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="internal-panel add-bottom-margin-05em">
            <div class="internal-panel-header panel-heading">
                <h4>Información del Responsable</h4>
            </div>
            <div class="internal-panel-body add-top-margin-05em">
                <div class="form-group row remove-bottom-margin">
                    <div class="col-sm-12">
                        <label>*Nombre del Responsable</label>
                        @Html.EditorFor(m => m.NombreResponsable, new { htmlAttributes = new { @class = "form-control form-width-100" } })
                        <span id="val-NombreResponsable" class="text-danger field-validation-error val-message" style="display:none;"></span>
                    </div>
                    <div class="col-sm-12">
                        <label>*Cargo del Responsable</label>
                        @Html.EditorFor(m => m.CargoResponsable, new { htmlAttributes = new { @class = "form-control form-width-100" } })
                        <span id="val-CargoResponsable" class="text-danger field-validation-error val-message" style="display:none;"></span>
                    </div>
                    <div class="col-sm-4">
                        <label>Buscar Responsable por Cédula</label>

                        <div class="input-group">
                            @Html.TextBox("Cedula", null, new { @class = "form-control form-width-100",@placeholder="Digite la cédula..." })
                            @*<span class="input-group-btn">
                                <button class="btn btn-positiva-invert" id="buscar_id_res" type="button">BUSCAR</button>
                            </span>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row internal-panel-body">
            <div class="col-md-12">
                <div id="div_novedad">
                    <span id="msj_novedad"></span>
                </div>
            </div>
        </div>
        <div class="internal-panel add-bottom-margin-05em">
            <div class="internal-panel-header panel-heading">
                <h4>Riesgos Asociados</h4>
            </div>
            <div class="internal-panel-body add-top-margin-05em">
                <div class="form-group row remove-bottom-margin">

                    <div class="col-md-6 col-lg-6">
                        <label>Clasificación del Peligro</label>
                        @Html.DropDownList("Pk_Id_Tipo_Peligro", null, "-- Seleccione una Clasificación --", htmlAttributes: new { @class = "form-control form-width-100", onChange = "jsFunction_121()" })
                    </div>

                    <div class="col-md-6 col-lg-6">
                        <label>Descripción del Peligro</label>
                        @Html.DropDownList("Pk_Id_Clasif_Peligro", null, "-- Seleccione una Descripción --", htmlAttributes: new { @class = "form-control form-width-100", onChange = "jsFunction_122()" })
                    </div>

                    @{
                        if (true)
                        {

                            <div class="table-responsive col-sm-12 add-top-margin-05em" style="overflow-x:scroll;height:auto">
                                <table class="table table-responsive table-bordered" style="border: 2px solid lightslategray" id="Grid4">
                                    <thead>
                                        <tr class="titulos_tabla">


                                            <th style="border-right: 2px solid lightslategray; border-bottom: 2px solid lightslategray; text-align:center">
                                                <p>Zona ó lugar</p>
                                            </th>
                                            <th style="border-right: 2px solid lightslategray; border-bottom: 2px solid lightslategray; text-align:center">
                                                <p>Actividad</p>
                                            </th>
                                            <th style="border-right: 2px solid lightslategray; border-bottom: 2px solid lightslategray; text-align:center">
                                                <p>Tarea</p>
                                            </th>
                                            <th style="border-right: 2px solid lightslategray; border-bottom: 2px solid lightslategray; text-align:center">
                                                <p>Proceso</p>
                                            </th>
                                            <th style="border-right: 2px solid lightslategray; border-bottom: 2px solid lightslategray; text-align:center">
                                                <p>Sede</p>
                                            </th>
                                            <th style="border-right: 2px solid lightslategray; border-bottom: 2px solid lightslategray; text-align:center">
                                                <p>Seleccionar</p>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody id="TbodyPeligros"></tbody>
                                </table>
                            </div>



                        }

                    }
                    <div class="col-md-6 col-lg-6">
                        <button id="AgregarPeligro" class="boton botonactive col-margin">AGREGAR PELIGRO(S)</button>
                    </div>
                    @{
                        if (true)
                        {

                            <div class="col-md-12" style="overflow-x:scroll;height:auto">
                                <table class="table table-responsive table-bordered" style="border: 2px solid lightslategray" id="Grid3">
                                    <thead>
                                        <tr class="titulos_tabla">
                                            <th style="border-right: 2px solid lightslategray; border-bottom: 2px solid lightslategray; text-align:center">
                                                <p>Proceso</p>
                                            </th>
                                            <th style="border-right: 2px solid lightslategray; border-bottom: 2px solid lightslategray; text-align:center">
                                                <p>Sede</p>
                                            </th>
                                            <th style="border-right: 2px solid lightslategray; border-bottom: 2px solid lightslategray; text-align:center">
                                                <p>Zona ó lugar</p>
                                            </th>
                                            <th style="border-right: 2px solid lightslategray; border-bottom: 2px solid lightslategray; text-align:center">
                                                <p>Actividad</p>
                                            </th>
                                            <th style="border-right: 2px solid lightslategray; border-bottom: 2px solid lightslategray; text-align:center">
                                                <p>Tarea</p>
                                            </th>
                                            <th style="border-right: 2px solid lightslategray; border-bottom: 2px solid lightslategray; text-align:center">
                                                <p>Descripción</p>
                                            </th>
                                            <th style="border-right: 2px solid lightslategray; border-bottom: 2px solid lightslategray; text-align:center">
                                                <p>Eliminación</p>
                                            </th>
                                            <th style="border-right: 2px solid lightslategray; border-bottom: 2px solid lightslategray; text-align:center">
                                                <p>Sustitución</p>
                                            </th>
                                            <th style="border-right: 2px solid lightslategray; border-bottom: 2px solid lightslategray; text-align:center">
                                                <p>Controles de ingeniería</p>
                                            </th>
                                            <th style="border-right: 2px solid lightslategray; border-bottom: 2px solid lightslategray; text-align:center">
                                                <p>Controles administrativos</p>
                                            </th>
                                            <th style="border-right: 2px solid lightslategray; border-bottom: 2px solid lightslategray; text-align:center">
                                                <p>Elementos de protección personal</p>
                                            </th>
                                            <th style="border-right: 2px solid lightslategray; border-bottom: 2px solid lightslategray; text-align:center">
                                                <p>Eliminar</p>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody id="TbodyPeligros"></tbody>
                                </table>
                            </div>



                        }

                    }



</div>
            </div>
        </div>
        
        <div class="add-side-padding col-sm-12" style="display:none;">
            <img id="myImg" alt="" src="" class="gen_img_style" />
        </div>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-6" style="margin-bottom:5px;">
                <button id="GuardarEHM" class="boton botonactive col-margin">GUARDAR HOJA DE VIDA</button>
            </div>
            <div class="col-md-6">
                <button class="boton botoncancel" onclick="location.href='@Url.Action("ConsultarEHM", "AdmoEMH")';return false;">CANCELAR</button>
            </div>
        </div>
    </div>
</div>
<div id="myModal" class="modalAnalisis">
    <span id="close">&times;</span>
    <img class="modal-content-analisis" id="img01">
    <div id="captionAnalisis"></div>
</div>