@model SG_SST.Models.Planificacion.Probabilidad

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Probabilidad</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Metodologia.Descripcion_Metodologia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Metodologia.Descripcion_Metodologia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion_Probabilidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion_Probabilidad)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PK_Probabilidad }) |
    @Html.ActionLink("Back to List", "Index")
</p>
