@section Scripts {
    @Scripts.Render("~/bundles/Aplicacion")
    @*@Scripts.Render("~/bundles/jquery")*@

}
<script src="~/Scripts/jquery.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script>
    $(".accordion-titulo").click(function () {

        var contenido = $(this).next(".accordion-content");

        if (contenido.css("display") == "none") { //open
            contenido.slideDown(250);
            $(this).addClass("open");
        }
        else { //close
            contenido.slideUp(250);
            $(this).removeClass("open");
        }

    });
</script>
<style>
    body {
        background: transparent;
    }

    #container-main {
        margin: 40px auto;
        width: 100%;
        min-width: 320px;
        max-width: 960px;
    }

        #container-main h1 {
            font-size: 40px;
            text-shadow: 4px 4px 5px #16a085;
        }

    .accordion-container {
        width: 100%;
        margin: 0 0 10px;
        clear: both;
        background-color: whitesmoke;
    }

    .accordion-titulo {
        position: relative;
        display: block;
        padding: 20px;
        font-size: 24px;
        font-weight: 300;
        background: #7E8A97;
        color: orange;
        text-decoration: none;
    }

        .accordion-titulo.open {
            background: #7E8A97;
            color: orange;
        }

        .accordion-titulo:hover {
            background: #7E8A97;
            color: orange;
        }

        .accordion-titulo span.toggle-icon:before {
            content: "+";
        }

        .accordion-titulo.open span.toggle-icon:before {
            content: "-";
        }

        .accordion-titulo span.toggle-icon {
            position: absolute;
            top: 10px;
            right: 20px;
            font-size: 38px;
            font-weight: bold;
        }

    .accordion-content {
        display: none;
        padding: 20px;
        overflow: auto;
    }

        .accordion-content p {
            margin: 0;
        }

        .accordion-content img {
            display: block;
            float: left;
            margin: 0 15px 10px 0;
            width: 50%;
            height: auto;
        }
</style>


<form id="formularioCondicion" enctype="multipart/form-data" method="post">
    <div class="panel panel-default" style="background-color: rgba(196, 202,196, 0.1)">
        <div class="panel-heading titulos_tabla" style="color:whitesmoke;">Agregar Condición Insegura</div>

        <div id="container-main">
            <div class="accordion-container" style="border-style:solid; border-width: 1px; border-color:whitesmoke">
                @*<button type="button" class="boton botoninfo" data-toggle="modal" data-target="#modal" id="btncondicion">Agregar Condicion</button>*@


                <a href="#" class="accordion-titulo">Condición Insegura<span class="toggle-icon"></span></a>
                <div class="accordion-content">
                    
                    <form id="formularioCondicion">

                        <div class="col-lg-12" style="background-color:whitesmoke;">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Descripción Condición</label>
                                    <textarea class="form-control" rows="5" id="DesCI" name="DesCI"></textarea>
                                    <label for="DesCI" class="error" style="display:none;"></label>
                                </div>
                                <div class="col-md-6">
                                    <label>Ubicación Especifica</label>
                                    <textarea class="form-control" rows="5" id="Uesp" name="Uesp"></textarea>
                                    <label for="Uesp" class="error" style="display:none;"></label>
                                </div>
                            </div>
                            <hr style="border-top-color:lightslategray" />
                            <div class="row">
                                <div class="col-md-2">
                                    <h5><b>Riesgo ó Peligro</b></h5>
                                </div>
                                <div class="col-md-10">
                                    <select class="form-control" name="tipopeligro" id="tipopeligro" onchange="ConsultarClasespeligro()">
                                        <option value="">--Seleccionar Tipo Peligro--</option>
                                        @foreach (var c in Model.peligrosos)
                                    {

                                            <option value="@c.idpeligro">@c.Describepeligro</option>

                                    }
                                    </select>
                                </div>
                                <label for="tipopeligro" class="error" style="display:none;"></label>
                            </div>

                            <div class="row" id="inputOtro" hidden="hidden">
                                <div class="col-md-2">
                                    <label style="color:orange">Cual:?</label>
                                </div>
                                <div class="col-md-10">
                                    <input name="Otro" id="Otro" type="text" class="form-control" />
                                </div>
                                <label for="Otro" class="error" style="display:none;"></label>
                            </div>
                            <br />
                            <br />
                            <div class="row" id="inputClasificacion">
                                <div class="col-md-2">
                                    <h5><b>Clasificación</b></h5>
                                </div>
                                <div class="col-md-10">
                                    <select id="FK_Clasificacion_De_Peligro" name="FK_Clasificacion_De_Peligro" class="form-control"></select>
                                </div>
                                <label for="Otro" class="error" style="display:none;"></label>
                            </div>
                            <hr style="border-top-color:lightslategray" />
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Configuracion Prioridad</label>
                                    <select class="form-control" name="DescripcionConfig" id="DescripcionConfig">
                                        <option value="">--Seleccionar Prioridad--</option>
                                        @foreach (var c in Model.ConfiguracionesI)
                                    {

                                            <option value="@c.idconfiguracionViewModel">@c.DescripcionViewModel</option>

                                    }
                                    </select>
                                    <label for="DescripcionConfig" class="error" style="display:none;"></label>

                                </div>
                                <div class="col-md-6">
                                    <label>Adjuntar Evidencia</label>
                                    <input type="file" class="form-control" id="Evidencia" name="Evidencia" />
                                </div>
                            </div>
                            <br />
                            <br />
                            <div class="row col-lg-10 col-lg-offset-0">
                                <button type="button" class="boton botonactive" id="btnvalci" onclick="GrabarCondiciones()">Guardar</button>
                                <button type="button" class="boton botoninfo" id="">Listado Condiciones</button>
                            </div>


                        </div>

                    </form>


                </div>


            </div>
        </div>




    </div>





</form>