@model IEnumerable<SG_SST.EntidadesDominio.Empresas.EDEmpleadoTercero>

@{
    ViewBag.Title = "Consulta de Relaciones Laborales de Terceros";
}
<div class="table-responsive" style="overflow-x:scroll; margin:10px;">
    <table class="table table-bordered" style="border: 2px solid lightslategray; font-size:x-small">
        <thead>
            <tr class="titulos_tabla">
                <th style="border-right: 2px solid lightslategray; text-align:center; vertical-align:middle">
                    @Html.DisplayNameFor(model => model.RelacionesLaboralesTercero)
                </th>
                <th style="border-right: 2px solid lightslategray; text-align:center; vertical-align:middle">
                    @Html.DisplayNameFor(model => model.PK_Nit_Empresa)
                </th>
                <th style="border-right: 2px solid lightslategray; text-align:center; vertical-align:middle">
                    @Html.DisplayNameFor(model => model.RazonSocial)
                </th>
                <th style="border-right: 2px solid lightslategray; text-align:center; vertical-align:middle">
                    @Html.DisplayNameFor(model => model.TipoDocumento)
                </th>
                <th style="border-right: 2px solid lightslategray; text-align:center; vertical-align:middle">
                    @Html.DisplayNameFor(model => model.Numero_Documento_Empl)
                </th>
                <th style="border-right: 2px solid lightslategray; text-align:center; vertical-align:middle">
                    @Html.DisplayNameFor(model => model.Apellido1)
                </th>
                <th style="border-right: 2px solid lightslategray; text-align:center; vertical-align:middle">
                    @Html.DisplayNameFor(model => model.Apellido2)
                </th>
                <th style="border-right: 2px solid lightslategray; text-align:center; vertical-align:middle">
                    @Html.DisplayNameFor(model => model.Nombre1)
                </th>
                <th style="border-right: 2px solid lightslategray; text-align:center; vertical-align:middle">
                    @Html.DisplayNameFor(model => model.Nombre2)
                </th>
                <th style="border-right: 2px solid lightslategray; text-align:center; vertical-align:middle">
                    @Html.DisplayNameFor(model => model.FechaNacimiento)
                </th>
                <th style="border-right: 2px solid lightslategray; text-align:center; vertical-align:middle">
                    @Html.DisplayNameFor(model => model.Ocupacion_Empl)
                </th>
                <th style="border-right: 2px solid lightslategray; text-align:center; vertical-align:middle">
                    @Html.DisplayNameFor(model => model.Cargo_Empl)
                </th>
                <th style="border-right: 2px solid lightslategray; text-align:center; vertical-align:middle">
                    @Html.DisplayNameFor(model => model.Email)
                </th>

            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {

                    <tr>
                        <td style="border-right: 2px solid lightslategray; vertical-align:middle">
                            @Html.DisplayFor(modelItem => item.RelacionesLaboralesTercero)
                        </td>
                        <td style="border-right: 2px solid lightslategray; vertical-align:middle">
                            @Html.DisplayFor(modelItem => item.PK_Nit_Empresa)
                        </td>
                        <td style="border-right: 2px solid lightslategray; vertical-align:middle">
                            @Html.DisplayFor(modelItem => item.RazonSocial)
                        </td>
                        <td style="border-right: 2px solid lightslategray; vertical-align:middle">
                            @Html.DisplayFor(modelItem => item.TipoDocumento)
                        </td>
                        <td style="border-right: 2px solid lightslategray; vertical-align:middle">
                            @Html.DisplayFor(modelItem => item.Numero_Documento_Empl)
                        </td>
                        <td style="border-right: 2px solid lightslategray; vertical-align:middle">
                            @Html.DisplayFor(modelItem => item.Apellido1)
                        </td>
                        <td style="border-right: 2px solid lightslategray; vertical-align:middle">
                            @Html.DisplayFor(modelItem => item.Apellido2)
                        </td>
                        <td style="border-right: 2px solid lightslategray; vertical-align:middle">
                            @Html.DisplayFor(modelItem => item.Nombre1)
                        </td>
                        <td style="border-right: 2px solid lightslategray; vertical-align:middle">
                            @Html.DisplayFor(modelItem => item.Nombre2)
                        </td>
                        <td style="border-right: 2px solid lightslategray; vertical-align:middle">
                            @Html.DisplayFor(modelItem => item.strFechaNacimiento)
                        </td>
                        <td style="border-right: 2px solid lightslategray; vertical-align:middle">
                            @Html.DisplayFor(modelItem => item.Ocupacion_Empl)
                        </td>
                        <td style="border-right: 2px solid lightslategray; vertical-align:middle">
                            @Html.DisplayFor(modelItem => item.Cargo_Empl)
                        </td>
                        <td style="border-right: 2px solid lightslategray; vertical-align:middle">
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<input type="hidden" name="id" id="id" value="1" />
<div class="text-center">
    <ul class="pagination">
        <li>@Ajax.ActionLink("<<", "ListTerceroRelacionesLaborales", new { id = 1 }, new AjaxOptions { UpdateTargetId = "list-items", InsertionMode = InsertionMode.Replace })</li>
        @if (ViewBag.PageCount != null)
        {
            if (ViewBag.PageCount > 0)
            {
                for (int i = 1; i <= ViewBag.PageCount; i++)
                {
                    <li>@Ajax.ActionLink(i.ToString(), "ListTerceroRelacionesLaborales", new { id = @i }, new AjaxOptions { UpdateTargetId = "list-items", InsertionMode = InsertionMode.Replace })</li>
                }
            }
        }
        <li>@Ajax.ActionLink(">>", "ListTerceroRelacionesLaborales", new { id = ViewBag.PageCount }, new AjaxOptions { UpdateTargetId = "list-items", InsertionMode = InsertionMode.Replace })</li>
    </ul>
</div>
