@model SG_SST.Models.Planificacion.InterpretacionNivelDeRiesgo

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>InterpretacionNivelDeRiesgo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nivel_Inferior)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nivel_Inferior)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nivel_Superior)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nivel_Superior)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Resultado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Resultado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Interpretacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Interpretacion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
