@model SG_SST.Models.AdminUsuarios.AdministrarUsuariosModel

@{
    ViewBag.Title = "Registro Usuarios";
}
<link href="~/Content/Site.css" rel="stylesheet" />
<!-- Bootstrap core CSS -->
<link href="~/Content/miga-de-pan.css" rel="stylesheet">
<!-- Referencia a botones -->
<link rel="stylesheet" href="~/Content/css/specialbuttons.css">
@using (Html.BeginForm("Create", "Usuarios", FormMethod.Post, new { enctype = "multipart/form-data", @id = "grabarusuario" }))
{
    @Html.AntiForgeryToken()

    @*<div class="container">
        <div class="col-md-12 col-md-offset-0">*@
    <div class="panel panel-default" style="background-color: rgba(196, 202,196, 0.1)">
        <div class="panel-heading" style="color:black">INFORMACIÓN USUARIO</div>
        <div class="panel-body form-horizontal">
            <div class="col-md-14 col-md-offset-0">
                <div class="row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group" style="margin-left:5px; margin-right:5px">
                        <div class="col-md-2">
                            <label>Tipo Documento:</label>
                        </div>
                        <div class="col-md-4">
                            @Html.DropDownList("Fk_Tipo_Documento", null, htmlAttributes: new { @class = "form-control" }, optionLabel: "-- Seleccionar --")
                            @Html.ValidationMessageFor(model => model.Fk_Tipo_Documento, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-2">
                            <label>Número ID:</label>
                        </div>
                        <div class="col-md-4">
                            <input type="number" name="Numero_Documento" id="Numero_Documento" class=" form-control" />

                        </div>

                    </div>
                </div>
                <hr />
                <div class="row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group" style="margin-left:5px; margin-right:5px">
                        <div class="col-md-2">

                            <label>Perfil Usuario:</label>
                        </div>
                        <div class="col-md-4">
                            @Html.DropDownList("Fk_Id_Rol", null, htmlAttributes: new { @class = "form-control selectpicker", @multiple = "multiple", title = "Seleccione ..." })
                            @Html.ValidationMessageFor(model => model.UsuarioRoles.FirstOrDefault().Fk_Id_Rol, "", new { @class = "text-danger" })
                        </div>


                        <div class="col-md-2">
                            <label>Nombre Usuario:</label>
                        </div>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Nombre_Usuario, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Nombre_Usuario, "", new { @class = "text-danger" })
                        </div>

                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="form-group" style="margin-left:5px; margin-right:5px">
                        @*<div class="col-md-2">
                                <label>NIT Empresa</label>
                            </div>
                            <div class="col-md-4">

                                <input type="text" value="@Model.nit_Empresa" id="nit_Empresa" name="nit_Empresa" disabled />

                                @Html.EditorFor(model => model.nit_Empresa, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.nit_Empresa, "", new { @class = "text-danger" })
                            </div>*@
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-9"></div>
                    <div class="col-md-3">
                        <button type="submit" class="boton botonactive">Guardar Registro</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
