@model SG_SST.Models.Empleado.Inconsistecialaboral

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md col-md-10 col-md-offset-0">
        <div class="panel panel-yellow">
            <div class="panel-heading"><p class="text-center">NOTIFICAR - INCONSISTENCIA</p></div>

            <h3>Está seguro de eliminar esta inconsistencia?</h3>
            <div>
                <h4>Inconsistecialaboral</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.TipoInconsistencia.DescripcionTipInc)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TipoInconsistencia.DescripcionTipInc)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.DescripcionInconsistencia)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DescripcionInconsistencia)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Eliminar" class="btn btn-default" /> |
                        @Html.ActionLink("Back to List", "Index")
                    </div>
                }
            </div>
        </div>
    </div>
</div>